body {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.el-main {
  overflow-x: hidden;
  /* padding-left: 250px; */
  padding-top: 135px;
  height: 90vh;
}

.el-header {
  background-color: #ffffff !important;
  transition: 0s !important;
  display: flex;
  padding-left: 10px;
  height: auto !important;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0px;
  background: #fff;
  padding-top: 18px;
}

.logo-header a span {
  transform: translateY(-11px) !important;
  display: inline-block;
  font-family: "Product Sans",Arial,sans-serif;
  font-size: 22px;
  color: #5f6368 !important;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 238px !important;
}

.logo-header {
  width: 238px;
  padding-top: 8px;
}

.logo-header a {
  text-decoration: none;
}

.el-menu {
  border-right: none !important;
}

.el-header input {
  width: 568px;
  border-right: none;
  background-color: #f1f3f4;
  -webkit-text-fill-color: silver;
  color: silver;
  height: 46px;
  border-radius: 5px 0px 0 5px;
}

.el-header input:focus {
  -webkit-text-fill-color: silver;
  border-color: #c0c4cc5c !important;
}

.search {
  display: flex;
}

.search button {
  height: 46px !important;
  border-left: none;
  border-radius: 0 5px 5px 0 !important;
  background-color: #f1f3f4;
  -webkit-text-fill-color: silver;
  color: silver;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  width: 87%;
}

.menu-header-right button {
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
}

li.el-menu-item a {
  font-size: 14px;
  color: var(--dt-on-primary-container,rgb(60,64,67));
  cursor: pointer;
  transition: border-color .3s,background-color .3s,color .3s;
  box-sizing: border-box;
  text-decoration: none;
}

.folder span {
  font-size: 13px;
  font-weight: 500;
  display: block;
  padding-top: 5px;
  padding-left: 10px;
}
.folder {
  display: flex;
  cursor: pointer;
  width: 90%;
  border: 1px solid #80808057;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.folder .menu {
  position: absolute;
  border: 1px solid #8080802e;
  width: 95%;
  z-index: 99999;
  top: 35px;
}
.menu ul li {
  display: flex;
  align-items: center;
  border-radius: 0;
}
.folder ul.el-menu {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  min-height: max-content !important;
}
.folder:hover {
  background-color: rgb(241,243,244);
}

.el-pagination {
  margin-top: 16px;
}

.el-breadcrumb {
  margin: 25px 13px;
  margin-bottom: 0;
}
span.el-breadcrumb__inner.is-link {
  font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-weight: 100 !important;
  font-variant-ligatures: no-contextual;
  font-size: 18px;
}
span.el-dropdown-link.el-dropdown-selfdefine {
  font-size: 18px !important;
}

.text-center {
  text-align: center;
}

.box-card-detail {
  width: 500px;
}
.box-card-detail h3 {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.01428571em;
  line-height: 1.25rem;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: rgb(95,99,104);
  margin-bottom: 24px;
}

.box-card-detail .el-form--label-top .el-form-item__label {
  padding: 0px;
}

