<template>
  <el-row type="flex" justify="center">
    <el-col span="12">
      <el-card class="box-card-detail">
        <el-page-header @back="goBack" content="Tên"></el-page-header>
        <div class="body">
          <h3>Ngày sinh của bạn có thể được dùng cho mục đích bảo mật tài khoản và cá nhân hóa trong các dịch vụ của Google. Nếu Tài khoản Google này được dùng cho doanh nghiệp hoặc tổ chức, hãy sử dụng ngày sinh của người quản lý tài khoản</h3>
          <el-form :label-position="labelPosition" label-width="100px" :model="formData">
            <el-form-item label="Cập nhật ngày sinh">
                <el-date-picker
                  style="width: 100%"
                  v-model="formData.date"
                  type="date"
                  placeholder="Ngày/Tháng/Năm">
                </el-date-picker>
            </el-form-item>
            <el-form-item style="text-align: right; margin-top: 10px">
              <el-button size="small" @click="goBack">Hủy</el-button>
              <el-button type="primary" size="small">Lưu</el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
      labelPosition: 'top',
      formData: {
        date: '',
      }
    };
  },
  methods: {
    goBack() {
      this.$router.push('/profile');
    }
  }
}
</script>

