<template>
  <el-row type="flex" justify="center">
    <el-col span="12">
      <el-card class="box-card-detail">
        <el-page-header @back="goBack" content="Email"></el-page-header>
        <div class="body">
          <h3>Quản lý các địa chỉ email được liên kết với Tài khoản Google của bạn.</h3>
          <el-form :label-position="labelPosition" label-width="100px" :model="formData">
            <el-form-item label="Email">
              <el-input placeholder="Email" v-model="formData.email"></el-input>
            </el-form-item>
            <el-form-item style="text-align: right; margin-top: 10px">
              <el-button size="small" @click="goBack">Hủy</el-button>
              <el-button type="primary" size="small">Lưu</el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
      labelPosition: 'top',
      formData: {
        email: '',
      }
    };
  },
  methods: {
    goBack() {
      this.$router.push('/profile');
    }
  }
}
</script>
