<template>
  <el-row type="flex" justify="center">
    <el-col span="12">
      <el-card class="box-card-detail">
        <el-page-header @back="goBack" content="Tên"></el-page-header>
        <div class="body">
          <h3>Những thay đổi đối với tên của bạn sẽ được phản ánh trên Tài khoản Google của bạn.</h3>
          <el-form :label-position="labelPosition" label-width="100px" :model="formData">
            <el-form-item label="Tên">
              <el-input placeholder="Tên" v-model="formData.firstName"></el-input>
            </el-form-item>
            <el-form-item label="Họ">
              <el-input placeholder="Họ" v-model="formData.lastName"></el-input>
            </el-form-item>
            <el-form-item style="text-align: right; margin-top: 10px">
              <el-button size="small" @click="goBack">Hủy</el-button>
              <el-button type="primary" size="small">Lưu</el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
      labelPosition: 'top',
      formData: {
        firstName: '',
        lastName: '',
        type: ''
      }
    };
  },
  methods: {
    goBack() {
      this.$router.push('/profile');
    }
  }
}
</script>
