<template>
  <el-row type="flex" justify="center">
    <el-col span="12">
      <el-card class="box-card-detail">
        <el-page-header @back="goBack" content="Điện thoại"></el-page-header>
        <div class="body">
          <h3>Các số điện thoại này đã được thêm vào Tài khoản Google của bạn</h3>
          <el-form :label-position="labelPosition" label-width="100px" :model="formData">
            <el-form-item label="Số điện thoại">
              <el-input placeholder="Số điện thoại" v-model="formData.phone"></el-input>
            </el-form-item>
            <el-form-item style="text-align: right; margin-top: 10px">
              <el-button size="small" @click="goBack">Hủy</el-button>
              <el-button type="primary" size="small">Lưu</el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
      labelPosition: 'top',
      formData: {
        phone: '',
      }
    };
  },
  methods: {
    goBack() {
      this.$router.push('/profile');
    }
  }
}
</script>
