<template>
  <div class="profile">
    <div class="header text-center">
      <h1>Thông tin cá nhân</h1>
      <p class="mPKYhd">Thông tin về bạn và các lựa chọn ưu tiên của bạn trên các dịch vụ của Google</p>
    </div>
    <div class="body">
      <el-row type="flex" justify="center">
        <el-col span="12">
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <h3>Thông tin cơ bản</h3>
              <p>Một số thông tin có thể hiển thị cho những người khác đang sử dụng dịch vụ của Google.</p>
            </div>
            <el-row class="text item" type="flex" justify="space-between">
              <label>Ảnh</label>
              <div class="text-info">Một bức ảnh giúp cá nhân hóa tài khoản của bạn</div>
              <div class="icon">
                <el-upload
                  class="upload-demo"
                  action="https://jsonplaceholder.typicode.com/posts/">
                  <el-button size="small" class="avatar">
                    <img class="YPzqGd" src="https://lh3.googleusercontent.com/a/AEdFTp4jFEh88uvUX7JRDAv68ECETYT0uGLeU-G08JyMPg=s60-c-rg-br100" alt="">
                  </el-button>
                </el-upload>
              </div>
            </el-row>
            <nuxt-link to="/profile/edit-name">
              <el-row class="text item" type="flex" justify="space-between">
                <label>Tên</label>
                <div class="text-info">Pham Tai Sang</div>
                <div class="icon">
                  <i class="el-icon-arrow-right"></i>
                </div>
              </el-row>
            </nuxt-link>
            <nuxt-link to="/profile/edit-birthday">
              <el-row class="text item" type="flex" justify="space-between">
                <label>Ngày sinh</label>
                <div class="text-info">26 tháng 5, 1997</div>
                <div class="icon">
                  <i class="el-icon-arrow-right"></i>
                </div>
              </el-row>
            </nuxt-link>
          </el-card>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col span="12">
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <h3>Thông tin liên hệ</h3>
            </div>
            <nuxt-link to="/profile/edit-email">
              <el-row class="text item" type="flex" justify="space-between">
                <label>Email</label>
                <div class="text-info">phamtaisang97@gmail.com</div>
                <div class="icon">
                  <i class="el-icon-arrow-right"></i>
                </div>
              </el-row>
            </nuxt-link>
            <nuxt-link to="/profile/edit-phone">
              <el-row class="text item" type="flex" justify="space-between">
                <label>Điện thoại</label>
                <div class="text-info">0997877777</div>
                <div class="icon">
                  <i class="el-icon-arrow-right"></i>
                </div>
              </el-row>
            </nuxt-link>
          </el-card>
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      labelPosition: 'right',
      formLabelAlign: {
        name: '',
        region: '',
        type: ''
      }
    };
  }
}
</script>

<style>
.profile .text {
  border-bottom: 1px solid #80808038;
  padding: 20px;
  cursor: pointer;
}

.profile .avatar {
  border: none;
  padding: 0;
}

.profile .el-card__header {
  border-bottom: none;
}

.profile .item {
  flex-direction: row;
  align-items: center;
}

.profile .text-info {
  width: 50%;
  display: block;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.01428571em;
  line-height: 1.25rem;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: rgb(95,99,104);
  width: 100%;
}

.profile label {
  width: 20%;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.04166667em;
  line-height: 1rem;
  text-transform: none;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: rgb(95,99,104);
  margin: 0;
  padding: 0;
}

.profile h1 {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  line-height: 2.25rem;
  font-size: 1.75rem;
  letter-spacing: 0;
  font-weight: 400;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: rgb(32,33,36);
  margin: 0 0 8px;
  padding: 0;
  text-align: center;
}
.mPKYhd {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.01785714em;
  line-height: 1.25rem;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: rgb(95,99,104);
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  text-align: center;
}

.profile .el-card__header h3 {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  line-height: 1.75rem;
  font-size: 1.375rem;
  letter-spacing: 0;
  font-weight: 400;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: rgb(32,33,36);
}

.profile .el-card__header p {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.01785714em;
  line-height: 1.25rem;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: rgb(95,99,104);
  margin-top: 12px;
}
.el-card__body a {
  text-decoration: none;
}
</style>
