<template>
 <div>
   <Header />
   <el-container>
     <el-container>
       <div class="" style="display: flex;">
        <MenuLeft2 />
        <MenuLeft />
       </div>
       <el-main>
         <Nuxt />
       </el-main>
     </el-container>
   </el-container>
   <Footer />
 </div>
</template>
<script>
import Header from "./header";
import MenuLeft from "./menuLeft.vue";
import MenuLeft2 from "./menuLeft2.vue";
import Footer from "./footer.vue";
export default {
  data() {
    return {
      search: '',
      valueSwitch: true
    }
  },
  components: {
    MenuLeft,
    MenuLeft2,
    Header,
    Footer
  },
};
</script>

<style>
.fixed {
  position: fixed;
  width: 238px;
  display: flex;
  overflow: hidden;
}
</style>
