<template>
  <el-header>
    <div class="logo-header">
      <a aria-label="Drive" href="https://drive.google.com/?tab=oo&amp;authuser=0 "title="Drive">
        <img src="//ssl.gstatic.com/images/branding/product/1x/drive_2020q4_48dp.png" srcset="//ssl.gstatic.com/images/branding/product/2x/drive_2020q4_48dp.png 2x ,//ssl.gstatic.com/images/branding/product/1x/drive_2020q4_48dp.png 1x" alt="" aria-hidden="true" role="presentation" style="width:40px;height:40px">
        <span>Drive</span>
      </a>
    </div>
    <div class="d-flex">
      <SearchHeader />
      <div class="menu-header-right">
        <el-popover
          placement="left"
          trigger="click">
          <el-switch
            v-model="valueSwitch"
            active-text="Xem trước khi ngoại tuyến"
            active-color="#13ce66"
            inactive-color="#ff4949">
          </el-switch>
          <el-button slot="reference">
            <svg viewBox="0 0 24 24" width="24px" height="24px" class=" a-s-fa-Ha-pa c-qd" focusable="false" fill="currentColor"><path d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path><path d="M7 15h10v2H7zm3.3-3.8L8.4 9.3 7 10.7l3.3 3.3L17 7.3l-1.4-1.4z"></path></svg>
          </el-button>
        </el-popover>
        <el-popover
          placement="bottom"
          trigger="click">
          <ul>
            <li><a href="#">Trợ giúp</a></li>
            <li><a href="#">Đào tạo</a></li>
            <li><a href="#">Cập nhật</a></li>
            <li><a href="#">Điều khoản và chính sách</a></li>
          </ul>
          <el-button slot="reference">
            <svg class="wo35tf" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" focusable="false"><path fill="none" d="M0 0h24v24H0z"></path><path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"></path></svg>
          </el-button>
        </el-popover>
        <el-popover
          placement="bottom"
          trigger="click">
          <ul>
            <li><a href="#">Cài đặt</a></li>
            <li><a href="#">Phím tắt</a></li>
          </ul>
          <el-button slot="reference">
            <svg class=" a-s-fa-Ha-pa c-qd" width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" focusable="false"><path d="M13.85 22.25h-3.7c-.74 0-1.36-.54-1.45-1.27l-.27-1.89c-.27-.14-.53-.29-.79-.46l-1.8.72c-.7.26-1.47-.03-1.81-.65L2.2 15.53c-.35-.66-.2-1.44.36-1.88l1.53-1.19c-.01-.15-.02-.3-.02-.46 0-.15.01-.31.02-.46l-1.52-1.19c-.59-.45-.74-1.26-.37-1.88l1.85-3.19c.34-.62 1.11-.9 1.79-.63l1.81.73c.26-.17.52-.32.78-.46l.27-1.91c.09-.7.71-1.25 1.44-1.25h3.7c.74 0 1.36.54 1.45 1.27l.27 1.89c.27.14.53.29.79.46l1.8-.72c.71-.26 1.48.03 1.82.65l1.84 3.18c.36.66.2 1.44-.36 1.88l-1.52 1.19c.01.15.02.3.02.46s-.01.31-.02.46l1.52 1.19c.56.45.72 1.23.37 1.86l-1.86 3.22c-.34.62-1.11.9-1.8.63l-1.8-.72c-.26.17-.52.32-.78.46l-.27 1.91c-.1.68-.72 1.22-1.46 1.22zm-3.23-2h2.76l.37-2.55.53-.22c.44-.18.88-.44 1.34-.78l.45-.34 2.38.96 1.38-2.4-2.03-1.58.07-.56c.03-.26.06-.51.06-.78s-.03-.53-.06-.78l-.07-.56 2.03-1.58-1.39-2.4-2.39.96-.45-.35c-.42-.32-.87-.58-1.33-.77l-.52-.22-.37-2.55h-2.76l-.37 2.55-.53.21c-.44.19-.88.44-1.34.79l-.45.33-2.38-.95-1.39 2.39 2.03 1.58-.07.56a7 7 0 0 0-.06.79c0 .26.02.53.06.78l.07.56-2.03 1.58 1.38 2.4 2.39-.96.45.35c.43.33.86.58 1.33.77l.53.22.38 2.55z"></path><circle cx="12" cy="12" r="3.5"></circle></svg>
          </el-button>
        </el-popover>

        <el-popover
            placement="bottom"
            trigger="click">
              <el-row class="list">
                <el-col :span="8">
                  <a href="#" class="item">
                    <img src="https://img.icons8.com/fluency/2x/google-logo.png" alt="">
                    <p>Tìm kiếm</p>
                  </a>
                </el-col>
                <el-col :span="8">
                  <a href="#" class="item">
                    <img src="https://img.icons8.com/color/2x/youtube-play.png" alt="">
                    <p>Youtube</p>
                  </a>
                </el-col>
                <el-col :span="8">
                  <a href="#" class="item">
                    <img src="https://img.icons8.com/fluency/2x/google-logo.png" alt="">
                    <p>Tìm kiếm</p>
                  </a>
                </el-col>
                <el-col :span="8">
                  <a href="#" class="item">
                    <img src="https://img.icons8.com/color/2x/youtube-play.png" alt="">
                    <p>Youtube</p>
                  </a>
                </el-col>
                <el-col :span="8">
                  <a href="#" class="item">
                    <img src="https://img.icons8.com/fluency/2x/google-logo.png" alt="">
                    <p>Tìm kiếm</p>
                  </a>
                </el-col>
                <el-col :span="8">
                  <a href="#" class="item">
                    <img src="https://img.icons8.com/color/2x/youtube-play.png" alt="">
                    <p>Youtube</p>
                  </a>
                </el-col>
                <el-col :span="8">
                  <a href="#" class="item">
                    <img src="https://img.icons8.com/fluency/2x/google-logo.png" alt="">
                    <p>Tìm kiếm</p>
                  </a>
                </el-col>
                <el-col :span="8">
                  <a href="#" class="item">
                    <img src="https://img.icons8.com/color/2x/youtube-play.png" alt="">
                    <p>Youtube</p>
                  </a>
                </el-col>
              </el-row>
            <el-button slot="reference" style="margin-left: 20px">
              <svg class="gb_Ve" fill="currentColor" width="24px" height="24px" focusable="false" viewBox="0 0 24 24"><path d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z"></path></svg>
            </el-button>
        </el-popover>
        <el-popover
          placement="bottom"
          trigger="click">
          <div class="user-account">
            <el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
            <p style="font-weight: 700">Sang Phạm Tài</p>
            <p>phamtaisang97@gmail.com</p>
            <el-button round>Quản lý Tài khoản Google của bạn</el-button>
          </div>
          <el-button slot="reference">
            <el-avatar size="medium" src="https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png"></el-avatar>
          </el-button>
        </el-popover>
      </div>
    </div>
  </el-header>
</template>
<script>
import SearchHeader from "./searchHeader";
export default {
  data() {
    return {
      search: '',
      valueSwitch: true
    }
  },
  components: {
    SearchHeader
  },
};
</script>

<style>
.search .el-input__icon {
  height: 76%;
}
.el-popover.el-popper ul li a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  color: #202124;
  font-family: Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 20px;
  outline: none;
  padding-left: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 30px;
  padding-left: 15px;
}
.el-popover.el-popper ul li {
  list-style: none;
}
.el-popover.el-popper ul {
  margin: 0;
  padding: 0;
}
.el-popover.el-popper ul li:hover {
  outline: 0;
  background-color: rgb(241,243,244);
}
.el-avatar {
  transform: translateY(6px);
}
.el-button:focus, .el-button:hover {
  color: #409EFF;
  background-color: #ffffff;
}
.list a.item {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.list a.item img {
  width: 40px;
}
.list a.item p {
  margin: 0;
  color: #202124;
}
.list {
  width: 300px;
}
.user-account {
  text-align: center;
}
</style>
