<template>
 <div class="sidenav-left display-flex menu-left2">
    <div class="menu-fixed">
      <el-button v-for="menu in menus" :type="menu.type" :icon="menu.icon" :key="menu" circle @click="menuClick(menu.menu_data)"></el-button>
    </div>
    <el-menu default-active="" v-if="menu_current && menu_current.length > 0" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose">
      <el-menu-item v-for="menu_crr, i in menu_current" :index="i" :key="i">
        <nuxt-link :to="menu_crr.url">{{ menu_crr.title }}</nuxt-link>
      </el-menu-item>
      <el-submenu v-for="menu_crr, i in menu_current" :index="i" :key="i" v-if="menu_crr.sub_menu && menu_crr.sub_menu.length > 0">
        <template slot="title">
          <span slot="title">{{ menu_crr.title }}</span>
        </template>
        <el-menu-item-group>
          <el-menu-item v-for="ms,i in menu_crr.sub_menu" :index="i*2" :key="i">
            {{ ms.title }}
          </el-menu-item>
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
 </div>
</template>
<script>
  export default {
    data() {
      return {
        dialogVisible: false,
        menus: [
          {
            type: "primary",
            icon: "el-icon-edit",
            menu_data: [
              {
                title: "item 1",
                url: "/"
              },
              {
                title: "item 2",
                url: "/"
              },
              {
                title: "item sub",
                url: "/",
                sub_menu: [
                  {
                    title: "item sub 3-1",
                    url: "/",
                  },
                  {
                    title: "item sub 3-2",
                    url: "/",
                  },
                  {
                    title: "item sub 3-3",
                    url: "/",
                  }
                ]
              },
              {
                title: "item 4",
                url: "/"
              },
            ]
          },
          {
            type: "success",
            icon: "el-icon-check",
            menu_data: [
              {
                title: "item a1",
                url: "/"
              },
              {
                title: "item a2",
                url: "/"
              },
            ]
          },
          {
            type: "info",
            icon: "el-icon-message",
            menu_data: [
              {
                title: "item a12",
                url: "/"
              },
              {
                title: "item a23",
                url: "/"
              },
              {
                title: "item a23",
                url: "/"
              },
            ]
          },
          {
            type: "warning",
            icon: "el-icon-star-off",
            menu_data: [
              {
                title: "item a234",
                url: "/"
              },
              {
                title: "item a235",
                url: "/"
              },
            ]
          },
          {
            type: "danger",
            icon: "el-icon-star-off",
            menu_data: [
              {
                title: "item aaaaa235",
                url: "/"
              },
            ]
          },
        ],
        menu_current: []
      };
    },
    methods: {
      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      },
      menuClick(menu_data) {
        console.log(menu_data);
        this.menu_current = menu_data
      }
    }
  }
</script>

<style scope>
.menu-fixed {
  width: 60px;
  text-align: center;
  display: block;
}
.menu-fixed button {
  margin: auto;
  margin-bottom: 16px;
  margin-left: 0 !important;
}
.display-flex {
  display: flex;
}
.menu-fixed {
  width: 60px;
  text-align: center;
  display: block;
  background: #303133;
  padding-top: 16px;
}

.menu-left2 .el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 179px !important;
}

.menu-left2 {
  margin-right: 12px;
  padding-top: 73px;
  z-index: 2222;
}
</style>
