<template>
 <div class="sidenav-left">
   <el-dialog
     width="20%"
     title="Tips"
     :visible.sync="dialogVisible">
     <el-form status-icon ref="ruleForm" label-width="120px" class="demo-ruleForm">
       <el-form-item label="Tên mới">
         <el-input type="text" autocomplete="off"></el-input>
       </el-form-item>

       <el-form-item>
         <el-button type="primary" @click="dialogVisible = false">Lưu</el-button>
         <el-button @click="dialogVisible = false">Bỏ qua</el-button>
       </el-form-item>
     </el-form>
   </el-dialog>
   <el-popover
     placement="bottom"
     trigger="click">
     <el-menu default-active="1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose">
       <el-menu-item index="8" @click="dialogVisible = true">
         <i class="el-icon-folder-add"></i>
         <span slot="title">Thư mục mới</span>
       </el-menu-item>
       <el-menu-item index="9" @click="dialogVisible = true">
         <i class="el-icon-document-add"></i>
         <span slot="title">Tải tệp lên</span>
       </el-menu-item>
       <el-menu-item index="10" @click="dialogVisible = true">
         <i class="el-icon-folder-opened"></i>
         <span slot="title">Tải thư mục lên</span>
       </el-menu-item>
     </el-menu>
     <el-button slot="reference" class="btn-create">
       <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"><path fill="#34A853" d="M16 16v14h4V20z"></path><path fill="#4285F4" d="M30 16H20l-4 4h14z"></path><path fill="#FBBC05" d="M6 16v4h10l4-4z"></path><path fill="#EA4335" d="M20 16V6h-4v14z"></path><path fill="none" d="M0 0h36v36H0z"></path></svg>
       <b>Mới</b>
     </el-button>
   </el-popover>
   <el-menu default-active="1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose">
      <el-menu-item index="1">
        <svg class=" c-qd" width="24px" height="24px" viewBox="0 0 24 24" fill="#000000" focusable="false"><path d="M19 2H5C3.9 2 3 2.9 3 4V20C3 21.1 3.9 22 5 22H19C20.1 22 21 21.1 21 20V4C21 2.9 20.1 2 19 2ZM19 20H5V19H19V20ZM19 17H5V4H19V17Z"></path><path d="M13.1215 6H10.8785C10.5514 6 10.271 6.18692 10.0841 6.46729L7.14019 11.6075C7 11.8878 7 12.215 7.14019 12.4953L8.26168 14.4579C8.40187 14.7383 8.72897 14.9252 9.05608 14.9252H15.0374C15.3645 14.9252 15.6449 14.7383 15.8318 14.4579L16.9533 12.4953C17.0935 12.215 17.0935 11.8878 16.9533 11.6075L13.9159 6.46729C13.7757 6.18692 13.4486 6 13.1215 6ZM10.1776 12.0748L12.0467 8.8972L13.8692 12.0748H10.1776Z"></path></svg>
<!--        <span slot="title">Diver của tôi</span>-->
        <nuxt-link to="/">Diver của tôi</nuxt-link>
      </el-menu-item>
      <el-submenu index="2">
        <template slot="title">
          <svg class=" c-qd" width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" focusable="false"><path d="M0 0h24v24H0z" fill="none"></path><path d="M4 6h18V4H4c-1.1 0-2 .9-2 2v11H0v3h14v-3H4V6zm19 2h-6c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h6c.55 0 1-.45 1-1V9c0-.55-.45-1-1-1zm-1 9h-4v-7h4v7z"></path></svg>
          <span slot="title">Máy tính</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="1-1">
            <svg height="" width="20" focusable="false" viewBox="0 0 24 24" fill="#5f6368" class="a-s-fa-Ha-pa"><g><path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"></path><path d="M0 0h24v24H0z" fill="none"></path></g></svg>
            Thư mục 1
          </el-menu-item>
          <el-menu-item index="1-2">
            <svg height="" width="20" focusable="false" viewBox="0 0 24 24" fill="#5f6368" class="a-s-fa-Ha-pa"><g><path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"></path><path d="M0 0h24v24H0z" fill="none"></path></g></svg>
            Thư mục 2
          </el-menu-item>
        </el-menu-item-group>
      </el-submenu>
      <el-menu-item index="3">
        <svg class=" c-qd" width="24px" height="24px" viewBox="0 0 24 24" fill="#000000" focusable="false"><path d="M0 0h24v24H0z" fill="none"></path><path xmlns="http://www.w3.org/2000/svg" d="M15 8c0-1.42-.5-2.73-1.33-3.76.42-.14.86-.24 1.33-.24 2.21 0 4 1.79 4 4s-1.79 4-4 4c-.43 0-.84-.09-1.23-.21-.03-.01-.06-.02-.1-.03A5.98 5.98 0 0 0 15 8zm1.66 5.13C18.03 14.06 19 15.32 19 17v3h4v-3c0-2.18-3.58-3.47-6.34-3.87zM9 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2m0 9c-2.7 0-5.8 1.29-6 2.01V18h12v-1c-.2-.71-3.3-2-6-2M9 4c2.21 0 4 1.79 4 4s-1.79 4-4 4-4-1.79-4-4 1.79-4 4-4zm0 9c2.67 0 8 1.34 8 4v3H1v-3c0-2.66 5.33-4 8-4z"></path></svg>
        <span slot="title">Được chia sẻ với tôi</span>
      </el-menu-item>
      <el-menu-item index="4">
        <svg class="" width="24px" height="24px" viewBox="0 0 24 24" fill="#000000" focusable="false"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path><path d="M0 0h24v24H0z" fill="none"></path><path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path></svg>
        <span slot="title">Gần đây</span>
      </el-menu-item>
    </el-menu>
 </div>
</template>
<script>
  export default {
    data() {
      return {
        dialogVisible: false
      };
    },
    methods: {
      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      },
    }
  }
</script>

<style scope>
  .sidenav-left {
    padding-top: 120px;
  }
  
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
  .el-menu-item.is-active {
    color: var(--dt-primary-action-stateful,rgb(24,90,188));
    font-weight: 600;
  }
  li.el-menu-item svg {
    color: var(--dt-on-primary-container,rgb(60,64,67));
    fill: currentColor;
  }
  li.el-menu-item.is-active {
    background-color: rgb(232,240,254);
    background-color: var(--dt-primary-container,rgb(232,240,254));
    border: 1px solid transparent;
    height: 40px;
    line-height: 39px;
    border-radius: 0 25px 25px 0;
  }
  li.el-menu-item, .el-submenu__title, .el-submenu .el-menu-item {
    padding-left: 10px !important;
    height: 40px;
    line-height: 39px;
    border: 1px solid transparent;
    border-radius: 0 25px 25px 0;
  }
  .el-submenu__title {
    padding-left: 10px !important;
  }
  .el-menu-item:focus, .el-menu-item:hover, .el-submenu__title:focus, .el-submenu__title:hover {
    outline: 0;
    background-color: rgb(241,243,244);
  }
  .el-submenu.is-active .el-submenu__title {
    border-bottom-color: #fff;
  }
  .el-menu-item-group__title {
    padding-top: 0;
  }
  li.el-menu-item-group {
    padding-left: 10px;
  }
  .btn-create {
    background-color: var(--dt-surface,#fff);
    box-shadow: var(--dt-surface1-shadow,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15));
    margin: 16px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-width: 0;
    box-sizing: border-box;
    color: var(--dt-on-secondary-container,rgb(60,64,67));
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    fill: var(--dt-on-secondary-container,rgb(60,64,67));
    gap: 0.75rem;
    grid-template-columns: auto 1fr;
    height: 48px;
    min-width: auto;
    padding: 1.125rem 1.25rem 1.125rem 1rem;
    place-content: center;
    -webkit-transition: box-shadow .08s linear;
    transition: box-shadow .08s linear;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 50px;
    padding-right: 40px;
  }
  .btn-create b {
    display: block;
    padding-top: 11px;
    padding-left: 13px;
    font-size: 14px;
    font-weight: 500 !important;
  }
  .btn-create:hover {
    box-shadow: var(--dt-surface3-shadow,0 1px 3px 0 rgba(60,64,67,.3),0 4px 8px 3px rgba(60,64,67,.15));
  }
  .btn-create:hover b{
    color: rgb(60,64,67) !important;
  }
  .btn-create span {
    display: flex;
  }
  .btn-create:hover {
    outline: 0;
    background-color: rgb(241,243,244);
  }
  .el-form-item__content button {
    margin-top: 20px;
  }
</style>
