<template>
  <div>
    <div class="search">
      <el-input
        placeholder="Tìm trong Driver"
        v-model="search"
      >
        <i slot="prefix" class="el-input__icon el-icon-search"></i>
      </el-input>
      <el-popover
        placement="bottom"
        width="400"
        trigger="click">
        <el-form :label-position="labelPosition" label-width="100px" :model="formLabelAlign">
          <el-form-item label="Loại">
            <el-select v-model="value" placeholder="Select" size="mini">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Chủ sở hữu">
            <el-select v-model="value" placeholder="Select" size="mini">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Có các từ">
            <el-input size="mini" v-model="formLabelAlign.region"></el-input>
          </el-form-item>
          <el-form-item label="Tên mục">
            <el-input size="mini" v-model="formLabelAlign.type"></el-input>
          </el-form-item>
          <el-form-item label="Địa điểm">
            <el-select v-model="value" placeholder="Select" size="mini">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button size="mini" type="primary" @click="submitForm('ruleForm')">Đặt lại</el-button>
            <el-button size="mini" @click="resetForm('ruleForm')">Tìm kiếm</el-button>
          </el-form-item>
        </el-form>
        <el-button slot="reference" icon="el-icon-s-operation"></el-button>
      </el-popover>
    </div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">Được chia sẻ với tôi</el-breadcrumb-item>
      <el-breadcrumb-item :to="{ path: '/' }">Dự án</el-breadcrumb-item>
      <el-breadcrumb-item>
        <el-dropdown>
          <span class="el-dropdown-link">
            HTML<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>Action 1</el-dropdown-item>
            <el-dropdown-item>Action 2</el-dropdown-item>
            <el-dropdown-item>Action 3</el-dropdown-item>
            <el-dropdown-item disabled>Action 4</el-dropdown-item>
            <el-dropdown-item divided>Action 5</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </el-breadcrumb-item>
    </el-breadcrumb>
  </div>
</template>
<script>
export default {
  data() {
    return {
      search: '',
      labelPosition: 'left',
      formLabelAlign: {
        name: '',
        region: '',
        type: ''
      },
      options: [{
        value: 'Option1',
        label: 'Option1'
      }, {
        value: 'Option2',
        label: 'Option2'
      }, {
        value: 'Option3',
        label: 'Option3'
      }, {
        value: 'Option4',
        label: 'Option4'
      }, {
        value: 'Option5',
        label: 'Option5'
      }],
      value: ''
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert('submit!');
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetForm(formName) {
      // this.$refs[formName].resetFields();
    }
  }
};
</script>

<style scope>
  label.el-form-item__label {
    font-size: 13px;
  }
  .el-header .el-form-item {
    margin-bottom: 0;
  }
  .el-breadcrumb {
    margin: 25px 13px;
    margin-bottom: 0;
  }
  span.el-breadcrumb__inner.is-link {
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 100 !important;
    font-variant-ligatures: no-contextual;
    font-size: 18px;
  }
  span.el-dropdown-link.el-dropdown-selfdefine {
    font-size: 18px !important;
  }
</style>
