<template>
  <div>
    <el-row class="header-title-content">
      <el-popover
        placement="bottom"
        trigger="click">
        <el-menu default-active="1" class="el-menu-vertical-demo">
          <el-menu-item index="8">
            <i class="el-icon-folder-add"></i>
            <span slot="title">Thư mục mới</span>
          </el-menu-item>
          <el-menu-item index="9">
            <i class="el-icon-document-add"></i>
            <span slot="title">Tải tệp lên</span>
          </el-menu-item>
          <el-menu-item index="10">
            <i class="el-icon-folder-opened"></i>
            <span slot="title">Tải thư mục lên</span>
          </el-menu-item>
        </el-menu>
        <el-button slot="reference" class="my-drive">
          <p>Drive của tôi
            <svg class="a-s-fa-Ha-pa c-qd" width="20px" height="20px" viewBox="0 0 20 20" focusable="false" fill="currentColor"><polygon points="5,8 10,13 15,8"></polygon></svg>
          </p>
        </el-button>
      </el-popover>
      <el-button class="float-right">
        <svg class="a-s-fa-Ha-pa c-qd" width="24px" height="24px" viewBox="0 0 24 24" focusable="false" fill="currentColor"><path d="M3,5v14h18V5H3z M7,7v2H5V7H7z M5,13v-2h2v2H5z M5,15h2v2H5V15z M19,17H9v-2h10V17z M19,13H9v-2h10V13z M19,9H9V7h10V9z"></path></svg>
      </el-button>
    </el-row>
    <div class="main-content">
      <el-row>
        <h5 class="title">Được đề xuất</h5>
        <el-col :md="6" :lg="6" style="padding: 5px">
          <div class="demo-image__preview">
            <el-image
              :src="url"
              :preview-src-list="srcList">
            </el-image>
            <div class="info">
              <h3 class="name">
                <img class="a-Ua-c" src="https://drive-thirdparty.googleusercontent.com/16/type/image/jpeg" alt="Hình ảnh" />
                Pham Tai Sang
              </h3>
              <p>Bạn đã mở vào tháng trước</p>
            </div>
          </div>
        </el-col>
        <el-col :md="6" :lg="6" style="padding: 5px">
          <div class="demo-image__preview">
            <el-image
              src="https://lh3.googleusercontent.com/fife/AAbDypAK_XKrZ1DDZr7l_4CJ0Xe8z1YXEPxZWHBjHp-gk04JFOCpTq6T57K1bywff1p9nEy5-TWhKeENejg4KdeBOAUTmjFjQKcMC0Me64ecqLXK_LZSlErbjB2fZh4eaiTB-nxzdJEswut9AS74zf_j99we_1SPwGSSvMLATz3neVkotSKDCpdPIY17pzvsjViNtXUa_3hlZ2aBX8Kz2Dsw3bYUCUdvDClBu_wrKOAnTBEBQz1m2luqan67PjYpGUnxdt-xkPTHxtTk6PuQYzXiWLwFcYcfvt5jBJl5Fmz0YRvvYGwtMK9FHfCnwzCTGIkap3ZX5Y0unVzvXwNQBpEyMbPmfsZiypCUbzvAekdhDIZJ3SWz7qLJEd8JNXPEEPsn_RZKuiZ89CbhqAqlEbJ-NDB_PyudOwV26RJ9Y_evpKs6yTIpaFi_bc6Pk_xJGPRF16Z4DFn0XO49h0gIJq1sKo8cGSuFLM6PRjnjgIVc8k4no4vkd1KxVeSyBwpG2Gq8ZNLvi7OpnZFK3ZPh9MEjPNsEwxz-rsvc9Lzrg8G9t41uZGOP1Ip3slPqh3B6jDdSb5GVKsj0ss1iSTMHPDffiQZtFiIVvwVy6SfcqOh0Zqu-oZSObncZwRp9R5lQt--pv-6f87GA86xG-4vFFaIFgkefuLuTJge7pfxAwTHdqTGjtDkJQbkwcR0PyaYKT5DwjeT9pW96r20hIuPSf1VQgInhH_D7YJFKyeIuixfbNEgU5qa1LrVjHo5pe-vgy6ZyRl1k7hfjDaP46r3etV0IJlaNPgrsQvYsMdoblaW8buuJz1OfD5U0KBKP5EkLiK8aSM5NPeRboSrwryndgRzRGbZVgUnFaF113G8tVmA_y6qyWhtamanNbcziz0qMN0QtDBPSWLUB0ekueA1W6PAjXqUT7FJtBqBzCcK5R6puwfSPH6TFwYCrZfLbwzytM5qbnOiF6GqHaBMO-SoYigL_TgUpX4pVsxk0lOE0O5TLKJEmCkda2-itnBT-y7hT2pAjuEePe4n-s3ZupZOo8z2zJ1P4s7IYMxqMVpANDMZ6dj0KvQglWwDltANWarVo96QQGqAc_2AMVsE7zPNerK0GSkjJZCFbVgJFUTCMQ7fV56QmAujhAowKRaGetTINX35D9XU4w4dDAkHSJGHWz0yz0kfIeZaFEks6sakhjI1Q2gwECRSDCU1tKIPjnM4QudoH7DxNCu-j1dzUjewoOF9TpKzIj99J2Mj04FgcNftgWEDJuco_FPe_GNPXQMw72saWYnGuwe8U2uOLltQ3QF2uwfaWXuN9MbFKWnXOnYo0M3H3xDM8mJIOxAGHonm7wZrx9cRYTXz52qvdGyIvDdbxCHHzP1ezxLrAA4hx3Ihjv27supCv9rkm-KxSYd61oQl2HU6Jlj0qP5BqhjjI4Sqab8WItnHGKFyO7KPcPEuahurSg_qdVaeKSY3ys4rFZfLFQChoD5fB7PDgIAQdTCmyxONkxjA6TklFni0G91k44aPUlw_IhyxiCIqeHEM=w300-k-nu"
              :preview-src-list="srcList">
            </el-image>
            <div class="info">
              <h3 class="name">
                <img class="a-Ua-c" src="https://drive-thirdparty.googleusercontent.com/16/type/text/html" alt="HTML" />
                index.html
              </h3>
              <p>Bạn đã mở vào tháng trước</p>
            </div>
          </div>
        </el-col>
        <el-col :md="6" :lg="6" style="padding: 5px">
          <div class="demo-image__preview">
            <el-image
              :src="url"
              :preview-src-list="srcList">
            </el-image>
            <div class="info">
              <h3 class="name">
                <img class="a-Ua-c" src="https://drive-thirdparty.googleusercontent.com/16/type/image/jpeg" alt="Hình ảnh" />
                Pham Tai Sang
              </h3>
              <p>Bạn đã mở vào tháng trước</p>
            </div>
          </div>
        </el-col>
        <el-col :md="6" :lg="6" style="padding: 5px">
          <div class="demo-image__preview">
            <el-image
              src="https://lh3.googleusercontent.com/fife/AAbDypAK_XKrZ1DDZr7l_4CJ0Xe8z1YXEPxZWHBjHp-gk04JFOCpTq6T57K1bywff1p9nEy5-TWhKeENejg4KdeBOAUTmjFjQKcMC0Me64ecqLXK_LZSlErbjB2fZh4eaiTB-nxzdJEswut9AS74zf_j99we_1SPwGSSvMLATz3neVkotSKDCpdPIY17pzvsjViNtXUa_3hlZ2aBX8Kz2Dsw3bYUCUdvDClBu_wrKOAnTBEBQz1m2luqan67PjYpGUnxdt-xkPTHxtTk6PuQYzXiWLwFcYcfvt5jBJl5Fmz0YRvvYGwtMK9FHfCnwzCTGIkap3ZX5Y0unVzvXwNQBpEyMbPmfsZiypCUbzvAekdhDIZJ3SWz7qLJEd8JNXPEEPsn_RZKuiZ89CbhqAqlEbJ-NDB_PyudOwV26RJ9Y_evpKs6yTIpaFi_bc6Pk_xJGPRF16Z4DFn0XO49h0gIJq1sKo8cGSuFLM6PRjnjgIVc8k4no4vkd1KxVeSyBwpG2Gq8ZNLvi7OpnZFK3ZPh9MEjPNsEwxz-rsvc9Lzrg8G9t41uZGOP1Ip3slPqh3B6jDdSb5GVKsj0ss1iSTMHPDffiQZtFiIVvwVy6SfcqOh0Zqu-oZSObncZwRp9R5lQt--pv-6f87GA86xG-4vFFaIFgkefuLuTJge7pfxAwTHdqTGjtDkJQbkwcR0PyaYKT5DwjeT9pW96r20hIuPSf1VQgInhH_D7YJFKyeIuixfbNEgU5qa1LrVjHo5pe-vgy6ZyRl1k7hfjDaP46r3etV0IJlaNPgrsQvYsMdoblaW8buuJz1OfD5U0KBKP5EkLiK8aSM5NPeRboSrwryndgRzRGbZVgUnFaF113G8tVmA_y6qyWhtamanNbcziz0qMN0QtDBPSWLUB0ekueA1W6PAjXqUT7FJtBqBzCcK5R6puwfSPH6TFwYCrZfLbwzytM5qbnOiF6GqHaBMO-SoYigL_TgUpX4pVsxk0lOE0O5TLKJEmCkda2-itnBT-y7hT2pAjuEePe4n-s3ZupZOo8z2zJ1P4s7IYMxqMVpANDMZ6dj0KvQglWwDltANWarVo96QQGqAc_2AMVsE7zPNerK0GSkjJZCFbVgJFUTCMQ7fV56QmAujhAowKRaGetTINX35D9XU4w4dDAkHSJGHWz0yz0kfIeZaFEks6sakhjI1Q2gwECRSDCU1tKIPjnM4QudoH7DxNCu-j1dzUjewoOF9TpKzIj99J2Mj04FgcNftgWEDJuco_FPe_GNPXQMw72saWYnGuwe8U2uOLltQ3QF2uwfaWXuN9MbFKWnXOnYo0M3H3xDM8mJIOxAGHonm7wZrx9cRYTXz52qvdGyIvDdbxCHHzP1ezxLrAA4hx3Ihjv27supCv9rkm-KxSYd61oQl2HU6Jlj0qP5BqhjjI4Sqab8WItnHGKFyO7KPcPEuahurSg_qdVaeKSY3ys4rFZfLFQChoD5fB7PDgIAQdTCmyxONkxjA6TklFni0G91k44aPUlw_IhyxiCIqeHEM=w300-k-nu"
              :preview-src-list="srcList">
            </el-image>
            <div class="info">
              <h3 class="name">
                <img class="a-Ua-c" src="https://drive-thirdparty.googleusercontent.com/16/type/text/html" alt="HTML" />
                index.html
              </h3>
              <p>Bạn đã mở vào tháng trước</p>
            </div>
          </div>
        </el-col>
      </el-row>
      <el-row>
        <h5 class="title">Thư mục</h5>
        <el-col v-for="(folder, index) in folders" :key="index" :md="6" :lg="6" style="padding: 10px">
          <div class="folder" @click="handleClick(folder.id)" @click.right="(e) => handleRightClick(e, folder.id)">
            <svg focusable="false" viewBox="0 0 24 24" height="24px" width="24px" fill="#5f6368" class="a-s-fa-Ha-pa"><g><path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"></path><path d="M0 0h24v24H0z" fill="none"></path></g></svg>
            <span>{{folder.name}}</span>
            <div class="menu" v-if="folder.showMenuClickRight">
              <el-menu default-active="1" class="el-menu-vertical-demo">
                <el-menu-item index="8">
                  <i class="el-icon-folder-add"></i>
                  <span slot="title">Tải tệp lên</span>
                </el-menu-item>
                <el-menu-item index="9">
                  <i class="el-icon-star-off"></i>
                  <span slot="title">Thêm vào thư mục có gắn dấu sao</span>
                </el-menu-item>
                <el-menu-item index="10">
                  <i class="el-icon-folder-opened"></i>
                  <span slot="title">Tải thư mục lên</span>
                </el-menu-item>
              </el-menu>
            </div>
          </div>
        </el-col>
      </el-row>
      <el-row>
        <h5 class="title">Tệp</h5>
        <el-col :md="6" :lg="6" style="padding: 5px">
          <div class="demo-image__preview file">
            <el-image
              src="https://lh3.googleusercontent.com/fife/AAbDypAK_XKrZ1DDZr7l_4CJ0Xe8z1YXEPxZWHBjHp-gk04JFOCpTq6T57K1bywff1p9nEy5-TWhKeENejg4KdeBOAUTmjFjQKcMC0Me64ecqLXK_LZSlErbjB2fZh4eaiTB-nxzdJEswut9AS74zf_j99we_1SPwGSSvMLATz3neVkotSKDCpdPIY17pzvsjViNtXUa_3hlZ2aBX8Kz2Dsw3bYUCUdvDClBu_wrKOAnTBEBQz1m2luqan67PjYpGUnxdt-xkPTHxtTk6PuQYzXiWLwFcYcfvt5jBJl5Fmz0YRvvYGwtMK9FHfCnwzCTGIkap3ZX5Y0unVzvXwNQBpEyMbPmfsZiypCUbzvAekdhDIZJ3SWz7qLJEd8JNXPEEPsn_RZKuiZ89CbhqAqlEbJ-NDB_PyudOwV26RJ9Y_evpKs6yTIpaFi_bc6Pk_xJGPRF16Z4DFn0XO49h0gIJq1sKo8cGSuFLM6PRjnjgIVc8k4no4vkd1KxVeSyBwpG2Gq8ZNLvi7OpnZFK3ZPh9MEjPNsEwxz-rsvc9Lzrg8G9t41uZGOP1Ip3slPqh3B6jDdSb5GVKsj0ss1iSTMHPDffiQZtFiIVvwVy6SfcqOh0Zqu-oZSObncZwRp9R5lQt--pv-6f87GA86xG-4vFFaIFgkefuLuTJge7pfxAwTHdqTGjtDkJQbkwcR0PyaYKT5DwjeT9pW96r20hIuPSf1VQgInhH_D7YJFKyeIuixfbNEgU5qa1LrVjHo5pe-vgy6ZyRl1k7hfjDaP46r3etV0IJlaNPgrsQvYsMdoblaW8buuJz1OfD5U0KBKP5EkLiK8aSM5NPeRboSrwryndgRzRGbZVgUnFaF113G8tVmA_y6qyWhtamanNbcziz0qMN0QtDBPSWLUB0ekueA1W6PAjXqUT7FJtBqBzCcK5R6puwfSPH6TFwYCrZfLbwzytM5qbnOiF6GqHaBMO-SoYigL_TgUpX4pVsxk0lOE0O5TLKJEmCkda2-itnBT-y7hT2pAjuEePe4n-s3ZupZOo8z2zJ1P4s7IYMxqMVpANDMZ6dj0KvQglWwDltANWarVo96QQGqAc_2AMVsE7zPNerK0GSkjJZCFbVgJFUTCMQ7fV56QmAujhAowKRaGetTINX35D9XU4w4dDAkHSJGHWz0yz0kfIeZaFEks6sakhjI1Q2gwECRSDCU1tKIPjnM4QudoH7DxNCu-j1dzUjewoOF9TpKzIj99J2Mj04FgcNftgWEDJuco_FPe_GNPXQMw72saWYnGuwe8U2uOLltQ3QF2uwfaWXuN9MbFKWnXOnYo0M3H3xDM8mJIOxAGHonm7wZrx9cRYTXz52qvdGyIvDdbxCHHzP1ezxLrAA4hx3Ihjv27supCv9rkm-KxSYd61oQl2HU6Jlj0qP5BqhjjI4Sqab8WItnHGKFyO7KPcPEuahurSg_qdVaeKSY3ys4rFZfLFQChoD5fB7PDgIAQdTCmyxONkxjA6TklFni0G91k44aPUlw_IhyxiCIqeHEM=w300-k-nu"
              :preview-src-list="srcList">
            </el-image>
            <div class="info">
              <h3 class="name">
                <img class="a-Ua-c" src="https://drive-thirdparty.googleusercontent.com/16/type/text/html" alt="HTML" />
                index.html
              </h3>
              <p>Bạn đã mở vào tháng trước</p>
            </div>
          </div>
        </el-col>
        <el-col :md="6" :lg="6" style="padding: 5px">
          <div class="demo-image__preview file">
            <el-image
              src="https://lh3.googleusercontent.com/fife/AAbDypAK_XKrZ1DDZr7l_4CJ0Xe8z1YXEPxZWHBjHp-gk04JFOCpTq6T57K1bywff1p9nEy5-TWhKeENejg4KdeBOAUTmjFjQKcMC0Me64ecqLXK_LZSlErbjB2fZh4eaiTB-nxzdJEswut9AS74zf_j99we_1SPwGSSvMLATz3neVkotSKDCpdPIY17pzvsjViNtXUa_3hlZ2aBX8Kz2Dsw3bYUCUdvDClBu_wrKOAnTBEBQz1m2luqan67PjYpGUnxdt-xkPTHxtTk6PuQYzXiWLwFcYcfvt5jBJl5Fmz0YRvvYGwtMK9FHfCnwzCTGIkap3ZX5Y0unVzvXwNQBpEyMbPmfsZiypCUbzvAekdhDIZJ3SWz7qLJEd8JNXPEEPsn_RZKuiZ89CbhqAqlEbJ-NDB_PyudOwV26RJ9Y_evpKs6yTIpaFi_bc6Pk_xJGPRF16Z4DFn0XO49h0gIJq1sKo8cGSuFLM6PRjnjgIVc8k4no4vkd1KxVeSyBwpG2Gq8ZNLvi7OpnZFK3ZPh9MEjPNsEwxz-rsvc9Lzrg8G9t41uZGOP1Ip3slPqh3B6jDdSb5GVKsj0ss1iSTMHPDffiQZtFiIVvwVy6SfcqOh0Zqu-oZSObncZwRp9R5lQt--pv-6f87GA86xG-4vFFaIFgkefuLuTJge7pfxAwTHdqTGjtDkJQbkwcR0PyaYKT5DwjeT9pW96r20hIuPSf1VQgInhH_D7YJFKyeIuixfbNEgU5qa1LrVjHo5pe-vgy6ZyRl1k7hfjDaP46r3etV0IJlaNPgrsQvYsMdoblaW8buuJz1OfD5U0KBKP5EkLiK8aSM5NPeRboSrwryndgRzRGbZVgUnFaF113G8tVmA_y6qyWhtamanNbcziz0qMN0QtDBPSWLUB0ekueA1W6PAjXqUT7FJtBqBzCcK5R6puwfSPH6TFwYCrZfLbwzytM5qbnOiF6GqHaBMO-SoYigL_TgUpX4pVsxk0lOE0O5TLKJEmCkda2-itnBT-y7hT2pAjuEePe4n-s3ZupZOo8z2zJ1P4s7IYMxqMVpANDMZ6dj0KvQglWwDltANWarVo96QQGqAc_2AMVsE7zPNerK0GSkjJZCFbVgJFUTCMQ7fV56QmAujhAowKRaGetTINX35D9XU4w4dDAkHSJGHWz0yz0kfIeZaFEks6sakhjI1Q2gwECRSDCU1tKIPjnM4QudoH7DxNCu-j1dzUjewoOF9TpKzIj99J2Mj04FgcNftgWEDJuco_FPe_GNPXQMw72saWYnGuwe8U2uOLltQ3QF2uwfaWXuN9MbFKWnXOnYo0M3H3xDM8mJIOxAGHonm7wZrx9cRYTXz52qvdGyIvDdbxCHHzP1ezxLrAA4hx3Ihjv27supCv9rkm-KxSYd61oQl2HU6Jlj0qP5BqhjjI4Sqab8WItnHGKFyO7KPcPEuahurSg_qdVaeKSY3ys4rFZfLFQChoD5fB7PDgIAQdTCmyxONkxjA6TklFni0G91k44aPUlw_IhyxiCIqeHEM=w300-k-nu"
              :preview-src-list="srcList">
            </el-image>
            <div class="info">
              <h3 class="name">
                <img class="a-Ua-c" src="https://drive-thirdparty.googleusercontent.com/16/type/text/html" alt="HTML" />
                index.html
              </h3>
              <p>Bạn đã mở vào tháng trước</p>
            </div>
          </div>
        </el-col>
        <el-col :md="6" :lg="6" style="padding: 5px">
          <div class="demo-image__preview file">
            <el-image
              src="https://lh3.googleusercontent.com/fife/AAbDypAK_XKrZ1DDZr7l_4CJ0Xe8z1YXEPxZWHBjHp-gk04JFOCpTq6T57K1bywff1p9nEy5-TWhKeENejg4KdeBOAUTmjFjQKcMC0Me64ecqLXK_LZSlErbjB2fZh4eaiTB-nxzdJEswut9AS74zf_j99we_1SPwGSSvMLATz3neVkotSKDCpdPIY17pzvsjViNtXUa_3hlZ2aBX8Kz2Dsw3bYUCUdvDClBu_wrKOAnTBEBQz1m2luqan67PjYpGUnxdt-xkPTHxtTk6PuQYzXiWLwFcYcfvt5jBJl5Fmz0YRvvYGwtMK9FHfCnwzCTGIkap3ZX5Y0unVzvXwNQBpEyMbPmfsZiypCUbzvAekdhDIZJ3SWz7qLJEd8JNXPEEPsn_RZKuiZ89CbhqAqlEbJ-NDB_PyudOwV26RJ9Y_evpKs6yTIpaFi_bc6Pk_xJGPRF16Z4DFn0XO49h0gIJq1sKo8cGSuFLM6PRjnjgIVc8k4no4vkd1KxVeSyBwpG2Gq8ZNLvi7OpnZFK3ZPh9MEjPNsEwxz-rsvc9Lzrg8G9t41uZGOP1Ip3slPqh3B6jDdSb5GVKsj0ss1iSTMHPDffiQZtFiIVvwVy6SfcqOh0Zqu-oZSObncZwRp9R5lQt--pv-6f87GA86xG-4vFFaIFgkefuLuTJge7pfxAwTHdqTGjtDkJQbkwcR0PyaYKT5DwjeT9pW96r20hIuPSf1VQgInhH_D7YJFKyeIuixfbNEgU5qa1LrVjHo5pe-vgy6ZyRl1k7hfjDaP46r3etV0IJlaNPgrsQvYsMdoblaW8buuJz1OfD5U0KBKP5EkLiK8aSM5NPeRboSrwryndgRzRGbZVgUnFaF113G8tVmA_y6qyWhtamanNbcziz0qMN0QtDBPSWLUB0ekueA1W6PAjXqUT7FJtBqBzCcK5R6puwfSPH6TFwYCrZfLbwzytM5qbnOiF6GqHaBMO-SoYigL_TgUpX4pVsxk0lOE0O5TLKJEmCkda2-itnBT-y7hT2pAjuEePe4n-s3ZupZOo8z2zJ1P4s7IYMxqMVpANDMZ6dj0KvQglWwDltANWarVo96QQGqAc_2AMVsE7zPNerK0GSkjJZCFbVgJFUTCMQ7fV56QmAujhAowKRaGetTINX35D9XU4w4dDAkHSJGHWz0yz0kfIeZaFEks6sakhjI1Q2gwECRSDCU1tKIPjnM4QudoH7DxNCu-j1dzUjewoOF9TpKzIj99J2Mj04FgcNftgWEDJuco_FPe_GNPXQMw72saWYnGuwe8U2uOLltQ3QF2uwfaWXuN9MbFKWnXOnYo0M3H3xDM8mJIOxAGHonm7wZrx9cRYTXz52qvdGyIvDdbxCHHzP1ezxLrAA4hx3Ihjv27supCv9rkm-KxSYd61oQl2HU6Jlj0qP5BqhjjI4Sqab8WItnHGKFyO7KPcPEuahurSg_qdVaeKSY3ys4rFZfLFQChoD5fB7PDgIAQdTCmyxONkxjA6TklFni0G91k44aPUlw_IhyxiCIqeHEM=w300-k-nu"
              :preview-src-list="srcList">
            </el-image>
            <div class="info">
              <h3 class="name">
                <img class="a-Ua-c" src="https://drive-thirdparty.googleusercontent.com/16/type/text/html" alt="HTML" />
                index.html
              </h3>
              <p>Bạn đã mở vào tháng trước</p>
            </div>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      srcList: [
        'https://fuss10.elemecdn.com/8/27/f01c15bb73e1ef3793e64e6b7bbccjpeg.jpeg',
        'https://fuss10.elemecdn.com/1/8e/aeffeb4de74e2fde4bd74fc7b4486jpeg.jpeg'
      ],
      type: "folder",
      showMenuClickRight: false,
      folders: [
        {
          id: 1,
          showMenuClickRight: false,
          name: "Thư mục 1"
        },
        {
          id: 2,
          showMenuClickRight: false,
          name: "Thư mục 2"
        },
        {
          id: 3,
          showMenuClickRight: false,
          name: "Thư mục 3"
        }
      ]
    }
  },
  methods: {
    handleRightClick(e, id) {
     e.preventDefault();
     this.handleOnOffMenuClickRight(id, true)
    },
    handleClick(id) {
      this.handleOnOffMenuClickRight(id, false)
    },
    handleOnOffMenuClickRight(id, status) {
      let folders = this.folders;
      const newArr = folders.map(obj => {
        if (obj.id === id) {
          return {...obj, showMenuClickRight: status};
        }
        else {
          return {...obj, showMenuClickRight: false};
        }
      });
      this.folders = newArr;
    },
    onClick() {
      this.handleOnOffMenuClickRight(0, false)
    },
  },
  mounted() {
    document.addEventListener('click', this.onClick);
  },
  beforeDestroy() {
    document.removeEventListener('click', this.onClick);
  },
}
</script>
<style>
  .demo-image__preview {
    border: 1px solid #80808029;
    padding: 0px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
  }
  .info {
    position: absolute;
    bottom: 0px;
    background: #fff;
    width: 100%;
    padding: 0px 16px;
  }
  .info .name {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: inherit;
    line-height: 20px;
    margin-bottom: 0;
  }
  .info p {
    color: var(--dt-on-surface-variant,rgb(95,99,104));
    font: inherit;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: inherit;
    line-height: 20px;
    margin-top: 0;
  }
  .el-image {
    height: 200px;
    width: 100%;
  }
  .title {
    font: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: inherit;
    letter-spacing: inherit;
    margin: 10px 0 10px 8px;
  }
  .demo-image__preview.file {
    height: 250px;
  }
  .my-drive {
    font: inherit;
    letter-spacing: inherit;
    line-height: 24px;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-variant-ligatures: no-contextual;
    font-size: 18px;
    padding: 0;
    border: none;
    color: var(--dt-on-surface,#3c4043);
  }
  .my-drive p {
    margin: 10px 0;
  }
  .my-drive svg {
    transform: translateY(4px);
  }
  .main-content {
    max-height: 100vh;
    overflow-y: scroll;
    padding-top: 20px;
    height: 80vh;
  }
  .main-content::-webkit-scrollbar {
    width: 2px;
  }
  .header-title-content {
    border-top: 1px solid #80808038;
    border-bottom: 1px solid #80808038;
    padding: 0 10px;
  }
  .float-right {
    float: right;
    border: none;
  }
</style>
