<template>
  <el-row class="dashboard">
    <!-- filter -->
    <el-row>
      <el-col :span="24">
        <el-form
          :inline="true"
          :model="formInline"
          label-position="top"
          class="demo-form-inline filter-dashboard"
        >
          <el-form-item label="Workspace">
            <el-autocomplete
              class="inline-input"
              v-model="formInline.workspace"
              :fetch-suggestions="querySearch"
              placeholder="Workspace"
              @select="handleSelect"
            ></el-autocomplete>
          </el-form-item>

          <el-form-item label="Số điện thoại">
            <el-input
              v-model="formInline.phone"
              placeholder="Số điện thoại"
            ></el-input>
          </el-form-item>

          <el-form-item label="Thời gian bắt đầu">
            <el-date-picker
              v-model="value1"
              type="date"
              placeholder="Thời gian bắt đầu"
            >
            </el-date-picker>
          </el-form-item>

          <el-form-item label="Thời gian kết thúc">
            <el-date-picker
              v-model="value1"
              type="date"
              placeholder="Thời gian kết thúc"
            >
            </el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">Cập nhật</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <!-- end filter  -->

    <el-row :gutter="8">
      <el-col :span="6">
        <div class="border">
          <el-card shadow="hover">
            Số phút gọi 2.000.000 (phút)
          </el-card>
          <el-card shadow="hover">
            Tổng thu 2.000.000 đ
          </el-card>
          <el-card shadow="hover">
            Tổng chi 2.000.000 đ
          </el-card>
          <el-card shadow="hover">
            Lãi ròng 2.000.000 đ
          </el-card>
        </div>
      </el-col>
      <el-col :span="18">
        <div class="border">
        <p>Lãi ròng</p>
          <LineChart
            :chart-options="netProfitChartOptions"
            :chart-data="netProfitChartData"
            chart-id="lineChart"
          />
      </div>
      </el-col>
    </el-row>

    <el-row :gutter="8">
      <el-col :span="18">
       <div class="border">
        <p>Thống kê số phút gọi</p>
        <LineChart
          :chart-options="netProfitChartOptions"
          :chart-data="netProfitChartData"
          chart-id="lineChart"
        />
       </div>
      </el-col>
      <el-col :span="6">
        <div class="border">
          <p>Cước theo loại gọi</p>
        <client-only placeholder="Loading...">
          <DoughnutChart :chart-data="doughnutChart" :height="430" />
        </client-only>
        <div class="d-flex">
          <div class="item">
            <p>Nội mạng</p>
            <h3>50.000 đ</h3>
          </div>
          <div class="item">
            <p>Ngoại mạng</p>
            <h3>50.000 đ</h3>
          </div>
          <div class="item">
            <p>Nội hạt</p>
            <h3>50.000 đ</h3>
          </div>
          <div class="item">
            <p>Liên tỉnh</p>
            <h3>50.000 đ</h3>
          </div>
          <div class="item">
            <p>Quốc tế</p>
            <h3>50.000 đ</h3>
          </div>
        </div>
        </div>
      </el-col>
    </el-row>

    <el-row :gutter="8">
      <el-col :span="6">
        <div class="border">
          <p>Thời gian loại cuộc gọi</p>
        <client-only placeholder="Loading...">
          <DoughnutChart :chart-data="doughnutChart" :height="430" />
        </client-only>
        <div class="d-flex">
          <div class="item">
            <p>Nội mạng</p>
            <h3>50.000 đ</h3>
          </div>
          <div class="item">
            <p>Ngoại mạng</p>
            <h3>50.000 đ</h3>
          </div>
          <div class="item">
            <p>Nội hạt</p>
            <h3>50.000 đ</h3>
          </div>
          <div class="item">
            <p>Liên tỉnh</p>
            <h3>50.000 đ</h3>
          </div>
          <div class="item">
            <p>Quốc tế</p>
            <h3>50.000 đ</h3>
          </div>
        </div>
        </div>
      </el-col>
      <el-col :span="18">
        <div class="border">
          <p>Thống kê tiền cước các nhà mạng</p>
        <BarChart :chartData="barChartData" :chart-options="barChartOptions" />
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="8">
      <el-col :span="18">
        <div class="border">
          <p>thống kê thời gian gọi các nhà mạng</p>
        <BarChart :chartData="barChartData" :chart-options="barChartOptions" />
        </div>
      </el-col>
    </el-row>
  </el-row>
</template>

<script>
export default {
  name: "ChartsPage",
  data() {
    return {
      formInline: {
        phone: "",
        workspace: ""
      },

      doughnutChart: {
        labels: [
          "2019-06",
          "2019-07",
          "2019-08",
          "2019-09",
          "2019-10",
          "2019-11"
        ],
        datasets: [
          {
            label: "",
            data: [72, 131, 12, 3, 4, 55],
            backgroundColor: [
              "#99aa00",
              "#aabbee",
              "#990000",
              "#99ff00",
              "#994400",
              "#9900ff"
            ]
          }
        ]
      },
      doughnutChartOptions: {
        plugins: {
          title: {
            display: true,
            text: "Chart.js Bar Chart - Stacked"
          }
        },
        responsive: true,
        maintainAspectRatio: false,
        interaction: {
          intersect: false
        },
        scales: {
          x: {
            stacked: true
          },
          y: {
            stacked: true
          }
        }
      },

      // net profit
      netProfitChartData: {
        labels: [
          "2019-06",
          "2019-07",
          "2019-08",
          "2019-09",
          "2019-10",
          "2019-07",
          "2019-08",
          "2019-09",
          "2019-10",
          "2019-11"
        ],
        datasets: [
          {
            label: "",
            data: [72, 131, 12, 3, 4, 55, 72, 131, 12, 3, 4, 55],
            backgroundColor: [
              "#99aa00",
              "#aabbee",
              "#990000",
              "#99ff00",
              "#994400",
              "#9900ff"
            ]
          }
        ]
      },
      netProfitChartOptions: {
        plugins: {
          legend: {
            position: "top",
            display: false
          },
          title: {
            display: false,
            text: "Chart.js Line Chart"
          }
        },
        responsive: true,
        maintainAspectRatio: false,
        tooltips: {
          backgroundColor: "#17BF62"
        }
      },
      // end net profit

      // bar chart
      barChartData: {
        labels: [
          "2019-06",
          "2019-07",
          "2019-08",
          "2019-09",
          "2019-10",
          "2019-11"
        ],
        datasets: [
          {
            label: "Vittel",
            data: [72, 131, 12, 3, 4, 55],
            backgroundColor: [
              "#99aa00",
              "#aabbee",
              "#990000",
              "#99ff00",
              "#994400",
              "#9900ff"
            ]
          },
          {
            label: "Mobfone",
            backgroundColor: ["#aabbee"]
          },
          {
            label: "Vinaphone",
            backgroundColor: ["#990000"]
          },
          {
            label: "Gtel",
            backgroundColor: ["#99ff00"]
          },
          {
            label: "Digitel",
            backgroundColor: ["#994400"]
          },
          {
            label: "Gmobile",
            backgroundColor: ["#9900ff"]
          }
        ]
      },
      barChartOptions: {
        plugins: {
          title: {
            display: true
          }
        },
        responsive: true,
        maintainAspectRatio: false,
        interaction: {
          intersect: false
        },
        scales: {
          x: {
            stacked: true
          },
          y: {
            stacked: true
          }
        }
      }
    };
  },
  methods: {
    querySearch(queryString, cb) {
      var links = this.links;
      var results = queryString
        ? links.filter(this.createFilter(queryString))
        : links;
      // call callback function to return suggestions
      cb(results);
    },
    handleSelect(item) {
      console.log(item);
    },
    createFilter(queryString) {
      return link => {
        return (
          link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    },
    loadAll() {
      return [
        { value: "vue", link: "https://github.com/vuejs/vue" },
        { value: "element", link: "https://github.com/ElemeFE/element" },
        { value: "cooking", link: "https://github.com/ElemeFE/cooking" },
        { value: "mint-ui", link: "https://github.com/ElemeFE/mint-ui" },
        { value: "vuex", link: "https://github.com/vuejs/vuex" },
        { value: "vue-router", link: "https://github.com/vuejs/vue-router" },
        { value: "babel", link: "https://github.com/babel/babel" }
      ];
    }
  },
  mounted() {
    this.links = this.loadAll();
  }
};
</script>

<style scope>
.dashboard .d-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.dashboard .el-card {
  margin-bottom: 16px;
  font-size: 14px;
  text-align: center;
}

.dashboard .border {
  border: 1px solid rgb(114 104 104 / 27%);
  border-radius: 7px;
  padding: 16px;
  height: 450px;
  margin-bottom: 10px;
  position: relative;

}

.filter-dashboard label.el-form-item__label {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.filter-dashboard .el-form-item__content button {
  margin-top: 39px;
}

.dashboard .border p {
  font-size: 14px;
}

.item p {
  font-size: 10px !important;
}
.item h3 {
  font-size: 10px;
}

.item {
  border: 1px solid #8080804f;
  width: 20%;
  text-align: center;
}
</style>
