<template>
    <el-row>
        <el-col :span="12">
          <el-card class="box-card">
            <el-form ref="form" :model="form" :label-position="labelPosition" label-width="220px" >
              <el-form-item class="label-custom" >
                <div class="label" slot="label">
                  <span class="main-lable">Main label</span>
                  <span class="sub-label">sub label</span>
                </div>
                <el-input
                  placeholder="Please Input"
                  v-model="input1">
                </el-input>
                <el-input
                  size="medium"
                  placeholder="Please Input"
                  v-model="input2">
                </el-input>
                <el-input
                  size="small"
                  placeholder="Please Input"
                  v-model="input3">
                </el-input>
                <el-input
                  size="mini"
                  placeholder="Please Input"
                  v-model="input4">
                </el-input>
              </el-form-item>
              <el-form-item label="Suggestion">
                <el-autocomplete
                  class="inline-input"
                  v-model="state1"
                  :fetch-suggestions="querySearch"
                  placeholder="Please Input"
                  @select="handleSelect"
                ></el-autocomplete>
              </el-form-item>

            <el-form-item>
                <div class="label" slot="label">
                  <span class="main-lable">Main label</span>
                  <span class="sub-label">sub label</span>
                </div>
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item>
                <div class="label" slot="label">
                  <span class="main-lable">Main label</span>
                  <span class="sub-label">sub label</span>
                </div>
                <el-input type="file" v-model="form.file"></el-input>
            </el-form-item>

            <el-form-item>
                <div class="label" slot="label">
                  <span class="main-lable">Main label</span>
                  <span class="sub-label">sub label</span>
                </div>
                <el-select v-model="form.region" placeholder="please select your zone">
                <el-option label="Zone one" value="shanghai"></el-option>
                <el-option label="Zone two" value="beijing"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
              <el-upload
                class="upload-demo"
                action="https://jsonplaceholder.typicode.com/posts/"
                :on-preview="handlePreview"
                :on-remove="handleRemove"
                :before-remove="beforeRemove"
                multiple
                :limit="3"
                :on-exceed="handleExceed"
                :file-list="fileList">
                <el-button size="small" type="primary">Click to upload</el-button>
                <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div>
              </el-upload>
            </el-form-item>
            <el-form-item>
                <div class="label" slot="label">
                  <span class="main-lable">Main label</span>
                  <span class="sub-label">sub label</span>
                </div>
                <el-col :span="11">
                <el-date-picker type="date" placeholder="Pick a date" v-model="form.date1" style="width: 100%;"></el-date-picker>
                </el-col>
                <el-col class="line" :span="2">-</el-col>
                <el-col :span="11">
                <el-time-picker placeholder="Pick a time" v-model="form.date2" style="width: 100%;"></el-time-picker>
                </el-col>
            </el-form-item>
            <el-form-item>
                <div class="label" slot="label">
                  <span class="main-lable">Main label</span>
                  <span class="sub-label">sub label</span>
                </div>
                <el-switch v-model="form.delivery"></el-switch>
            </el-form-item>
            <el-form-item label="Activity type">
                <el-checkbox-group v-model="form.type">
                <el-checkbox label="Online activities" name="type"></el-checkbox>
                <el-checkbox label="Promotion activities" name="type"></el-checkbox>
                <el-checkbox label="Offline activities" name="type"></el-checkbox>
                <el-checkbox label="Simple brand exposure" name="type"></el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <el-form-item label="Resources">
                <el-radio-group v-model="form.resource">
                <el-radio label="Sponsor"></el-radio>
                <el-radio label="Venue"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="Activity form">
                <el-input type="textarea" v-model="form.desc"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">Create</el-button>
                <el-button>Cancel</el-button>
            </el-form-item>
            </el-form>
          </el-card>
        </el-col>
    </el-row>
</template>
<script>
  export default {
    data() {
      return {
        input1: '',
        input2: '',
        input3: '',
        input4: '',
        labelPosition: 'left',
        fileList: [{name: 'food.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'}, {name: 'food2.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'}],
        form: {
          name: '',
          file: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        },
        links: [],
        state1: '',
      }
    },
    methods: {
      onSubmit() {
        console.log('submit!');
      },
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePreview(file) {
        console.log(file);
      },
      handleExceed(files, fileList) {
        this.$message.warning(`The limit is 3, you selected ${files.length} files this time, add up to ${files.length + fileList.length} totally`);
      },
      beforeRemove(file, fileList) {
        return this.$confirm(`Cancel the transfert of ${ file.name } ?`);
      },
      querySearch(queryString, cb) {
        var links = this.links;
        var results = queryString ? links.filter(this.createFilter(queryString)) : links;
        // call callback function to return suggestions
        cb(results);
      },
      createFilter(queryString) {
        return (link) => {
          return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
      },
      loadAll() {
        return [
          { "value": "vue", "link": "https://github.com/vuejs/vue" },
          { "value": "element", "link": "https://github.com/ElemeFE/element" },
          { "value": "cooking", "link": "https://github.com/ElemeFE/cooking" },
          { "value": "mint-ui", "link": "https://github.com/ElemeFE/mint-ui" },
          { "value": "vuex", "link": "https://github.com/vuejs/vuex" },
          { "value": "vue-router", "link": "https://github.com/vuejs/vue-router" },
          { "value": "babel", "link": "https://github.com/babel/babel" }
         ];
      },
      handleSelect(item) {
        console.log(item);
      }
    },
    mounted() {
      this.links = this.loadAll();
    }
  }
</script>
<style scope>
.label {
    display: grid;
    transform: translateY(-12px);
}
label.el-form-item__label {
    height: 0;
}
span.sub-label {
    transform: translateY(-16px);
}
span.main-lable {
    color: black;
}
</style>
