<template>
  <div>
    <el-row>
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item>
          <el-input size="mini" v-model="formInline.user" placeholder="Approved by"></el-input>
        </el-form-item>
        <el-form-item>
          <el-select size="mini" v-model="formInline.region" placeholder="Activity zone">
            <el-option label="Zone one" value="shanghai"></el-option>
            <el-option label="Zone two" value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button size="mini" type="primary" @click="onSubmit">filter</el-button>
        </el-form-item>
      </el-form>
      <el-dropdown trigger="click" class="drop">
      <span class="el-dropdown-link">
        Dropdown List<i class="el-icon-arrow-down el-icon--right"></i>
      </span>
        <el-dropdown-menu slot="dropdown">
            <el-dropdown-item icon="el-icon-plus">Action 1</el-dropdown-item>
            <el-dropdown-item icon="el-icon-circle-plus">Action 2</el-dropdown-item>
            <el-dropdown-item icon="el-icon-circle-plus-outline">Action 3</el-dropdown-item>
            <el-dropdown-item icon="el-icon-check">Action 4</el-dropdown-item>
            <el-dropdown-item icon="el-icon-circle-check">Action 5</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
  </el-row>
  <!-- handleCheckAll -->
  <el-button @click="handleCheckAll">chọn tất cả</el-button>
  <el-button @click="handleRemoveCheckAll">bo chọn tất cả</el-button>
    <p> <el-checkbox @change="checkboxCheckAll" v-model="checked_all" :checked="checked_all">Chọn tất cả</el-checkbox> </p>
    <el-table
    height="70vh"
    ref="multipleTable"
    :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
    style="width: 100%">
    <el-table-column
    width="55">
    <template slot-scope="scope">
        <el-checkbox :key="componentKey" @change="handleSelectionChange(scope.row)" :checked="scope.row.checked ? scope.row.checked : checked_all"></el-checkbox>
    </template>
  </el-table-column>
    <el-table-column
      label="Name"
      prop="name"
    >
      <template slot-scope="scope">
        <div @click="handleClick(scope.row.id)" @click.right="(e) => handleRightClick(e, scope.row.id)">
          <span class="flex">
            <svg focusable="false" viewBox="0 0 24 24" height="24px" width="24px" fill="#5f6368" class="a-s-fa-Ha-pa"><g><path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"></path><path d="M0 0h24v24H0z" fill="none"></path></g></svg>
            <span style="margin-left: 10px">{{scope.row.name}}</span>
          </span>
          <div class="menu" v-if="scope.row.showMenuClickRight">
            <el-menu default-active="1" class="el-menu-vertical-demo">
              <el-menu-item index="8">
                <i class="el-icon-folder-add"></i>
                <span slot="title">Tải tệp lên</span>
              </el-menu-item>
              <el-menu-item index="9">
                <i class="el-icon-star-off"></i>
                <span slot="title">Thêm vào thư mục có gắn dấu sao</span>
              </el-menu-item>
              <el-menu-item index="10">
                <i class="el-icon-folder-opened"></i>
                <span slot="title">Tải thư mục lên</span>
              </el-menu-item>
            </el-menu>
          </div>
        </div>
      </template>
    </el-table-column>
      <el-table-column
        label="Date"
        prop="date">
        <template slot-scope="scope">
          <div @click="handleClick(scope.row.id)" @click.right="(e) => handleRightClick(e, scope.row.id)">
            {{scope.row.date}}
          </div>
        </template>
      </el-table-column>
  </el-table>
  <el-pagination
  background
  layout="prev, pager, next"
  :total="this.tableData.length" :page-size="this.pageSize" @current-change="setPage"
  >
  </el-pagination>
  <div class="btn-fixed">
    <el-tooltip class="item" effect="dark" content="Tạo bản ghi mới" placement="left-end">
      <el-button type="primary" icon="el-icon-document-add" circle></el-button>
    </el-tooltip>
    <el-tooltip class="item" effect="dark" content="Import dữ liệu" placement="left-end">
      <el-button type="success" icon="el-icon-upload" circle></el-button>
    </el-tooltip>
   </div>
  </div>
</template>
<style>
  .el-table .warning-row {
    background: oldlace;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }
</style>
<script>

export default {
  data() {
      return {
        formInline: {
          user: '',
          region: ''
        },

        componentKey: 0,
    
        tableData: [{
          id: 1,
          date: '2016-05-03',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        }, {
          id: 2,
          date: '2016-05-02',
          name: 'John',
          address: 'No. 189, Grove St, Los Angeles',
        }, {
          id: 3,
          date: '2016-05-04',
          name: 'Morgan',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          id: 4,
          date: '2016-05-01',
          name: 'Jessy',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          id: 5,
          date: '2016-05-03',
          name: 'Tom1',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          id: 6,
          date: '2016-05-02',
          name: 'John2',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          id: 7,
          date: '2016-05-04',
          name: 'Morgan3',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          id: 8,
          date: '2016-05-01',
          name: 'Jessy4',
          address: 'No. 189, Grove St, Los Angeles'
        }
      ],
      checked_all: false,
        page: 1,
        pageSize: 5,
        search: '',
        options: [{
          label: 'Popular cities',
          options: [{
            value: 'Shanghai',
            label: 'Shanghai'
          }, {
            value: 'Beijing',
            label: 'Beijing'
          }]
        }, {
          label: 'City name',
          options: [{
            value: 'Chengdu',
            label: 'Chengdu'
          }, {
            value: 'Shenzhen',
            label: 'Shenzhen'
          }, {
            value: 'Guangzhou',
            label: 'Guangzhou'
          }, {
            value: 'Dalian',
            label: 'Dalian'
          }]
        }],
        value: ''
      }
    },
    computed: {

    },
    methods: {
      onSubmit() {
        console.log('submit!');
      },
      setPage (val) {
        console.log(val);
        this.page = val
      },
      handleRightClick(e, id) {
        e.preventDefault();
        this.handleOnOffMenuClickRight(id, true)
      },
      handleClick(id) {
        this.handleOnOffMenuClickRight(id, false)
      },
    
      handleSelectionChange(val) {
        let items = this.tableData;
        var foundIndex = items.findIndex(x => x.id == val.id);
        this.tableData[foundIndex] = {...val, checked: !val.checked};
      },

      handleCheckAll() {
        let items = this.tableData;
        items.map(function(x) { 
              x.checked = true; 
              return x
            });
        this.tableData = items;
        this.componentKey +=1;
        this.checked_all = true;
      },

      handleRemoveCheckAll() {
        let items = this.tableData;
        items.map(function(x) { 
              x.checked = false; 
              return x
            });
        this.tableData = items;
        this.componentKey +=1;
        this.checked_all = false;
      },

      checkboxCheckAll(check) {
        if(check) {
          this.handleCheckAll();
        }else {
          this.handleRemoveCheckAll();
        }
      },

      handleOnOffMenuClickRight(id, status) {
        let data = this.tableData;
        const newArr = data.map(obj => {
          if (obj.id === id) {
            return {...obj, showMenuClickRight: status};
          }
          else {
            return {...obj, showMenuClickRight: false};
          }
        });
        this.tableData = newArr;
     console.log(this.tableData)
        // this.$forceUpdate();
      },
      onClick() {
        this.handleOnOffMenuClickRight(0, false)
      },
    },
    mounted() {
      document.addEventListener('click', this.onClick);
    },
    beforeDestroy() {
      document.removeEventListener('click', this.onClick);
    },
};
</script>

<style>
.menu {
  position: fixed;
    z-index: 99999;
    box-shadow: 1px 3px 7px 2px rgb(128 128 128 / 33%);
    height: auto !important;
    border-radius: 5px;
    overflow: hidden;
    padding: 16px;
    background: #ffff;
}
.menu ul.el-menu-vertical-demo.el-menu {
    width: 100% !important;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  min-height: auto !important;
}
.el-form-item__content button {
    margin-top: 0;
}
.drop {
  float: right;
}
.flex {
  display: flex;
    align-items: center;
}
.el-table::before {
  display: none;
}
.btn-fixed {
    position: fixed;
    z-index: 999999;
    right: 16px;
    bottom: 35px;
    width: 46px;
    text-align: center;
}

.btn-fixed button {
    margin: 0 !important;
    margin-top: 10px !important;
}
</style>
