<template>
  <el-row>
    <el-col :span="24" class="mb-4">
      <!--đầu vào-->
      <p class="number-total">Tổng số bản ghi : <b>100</b></p>
      <el-table
        :summary-method="getSummaries"
        show-summary
        :data="tableData"
      style="width: 100%">
      <el-table-column label="Đầu ra" fixed width="200" class-name="bg-1">
        <el-table-column
          prop="name"
          class-name="bg-1"
          label="Khách hàng"
          width="120">
        </el-table-column>
        <el-table-column
          prop="name"
          class-name="bg-1"
          label="Cước"
          >
        </el-table-column>
      </el-table-column>
      <el-table-column
        prop="name"
        label="TOPUP đầu kỳ"
        class-name="bg-2"
        width="150">
      </el-table-column>
      <el-table-column
        prop="name"
        label="TIỀN PHẢI THU"
        class-name="bg-2"
        width="150">
      </el-table-column>
      <el-table-column
        prop="name"
        label="ĐÃ THU"
        class-name="bg-2"
        width="150">
      </el-table-column>
      <el-table-column
        prop="name"
        label="CÔNG NỢ"
        class-name="bg-2"
        width="150">
      </el-table-column>
      <el-table-column
        prop="name"
        label="LÃI"
        class-name="bg-2"
        width="150">
      </el-table-column>
      <el-table-column
        prop="name"
        label="TỶ SUẤT LỢI NHUẬN"
        class-name="bg-2"
        width="180">
      </el-table-column>
      <el-table-column label="Đầu vào" class-name="bg-3">
        <el-table-column
          prop="name"
          label="Tổng"
          class-name="bg-3"
          width="120">
        </el-table-column>
        <el-table-column
          prop="name"
          label="viettel"
          class-name="bg-3"
          width="120">
        </el-table-column>
        <el-table-column
          prop="name"
          label="Mobifone"
          class-name="bg-3"
          width="120">
        </el-table-column>
        <el-table-column
          prop="name"
          label="Vinaphone"
          class-name="bg-3"
          width="120">
        </el-table-column>
        <el-table-column
          prop="name"
          label="Gmobile"
          class-name="bg-3"
          width="120">
        </el-table-column>
        <el-table-column
          prop="name"
          label="Digitel"
          class-name="bg-3"
          width="120">
        </el-table-column>
        <el-table-column
          prop="name"
          label="Voip24h"
          class-name="bg-3"
          width="120">
        </el-table-column>
      </el-table-column>
    </el-table>
    </el-col>
  </el-row>
</template>
<style>
  .el-table .warning-row {
    background: oldlace;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }

  .number-total {
    font-size: 12px;
  }

  .bg-1 {
    background: gray !important;
  }

  .bg-1.is-leaf {
    background: #F5F7FA !important;
  }

  .bg-2 {
    background: greenyellow !important;
  }

  .bg-2.is-leaf {
    background: #8bc34a !important;
  }

  .bg-3 {
    background: darkkhaki !important;
  }

  .bg-3.is-leaf {
    background: #bdb76b91 !important;
  }
</style>
<script>

export default {
  data() {
      return {
        formInline: {
          user: '',
          region: ''
        },

        componentKey: 0,

        tableData: [{
          id: 1,
          date: '2016-05-03',
          name: '0đ',
          address: 'No. 189, Grove St, Los Angeles',
        }, {
          id: 2,
          date: '2016-05-02',
          name: '0đ',
          address: 'No. 189, Grove St, Los Angeles',
        }, {
          id: 3,
          date: '2016-05-04',
          name: '0đ',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          id: 4,
          date: '2016-05-01',
          name: '0đ',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          id: 5,
          date: '2016-05-03',
          name: '0đ',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          id: 6,
          date: '2016-05-02',
          name: '0đ',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          id: 7,
          date: '2016-05-04',
          name: '0đ',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          id: 8,
          date: '2016-05-01',
          name: '0đ',
          address: 'No. 189, Grove St, Los Angeles'
        }
      ],
      }
    },
    computed: {

    },
    methods: {
      getSummaries(param) {
        const { columns, data } = param;
        const sums = [];
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = 'Total Cost';
            return;
          }
          const values = data.map(item => Number(item[column.property]));
          if (!values.every(value => isNaN(value))) {
            sums[index] = '$ ' + values.reduce((prev, curr) => {
              const value = Number(curr);
              if (!isNaN(value)) {
                return prev + curr;
              } else {
                return prev;
              }
            }, 0);
          } else {
            sums[index] = 'N/A';
          }
        });

        return sums;
      },
      onSubmit() {
        console.log('submit!');
      },
      setPage (val) {
        console.log(val);
        this.page = val
      },
      handleRightClick(e, id) {
        e.preventDefault();
        this.handleOnOffMenuClickRight(id, true)
      },
      handleClick(id) {
        this.handleOnOffMenuClickRight(id, false)
      },

      handleSelectionChange(val) {
        let items = this.tableData;
        var foundIndex = items.findIndex(x => x.id == val.id);
        this.tableData[foundIndex] = {...val, checked: !val.checked};
      },

      handleCheckAll() {
        let items = this.tableData;
        items.map(function(x) {
              x.checked = true;
              return x
            });
        this.tableData = items;
        this.componentKey +=1;
        this.checked_all = true;
      },

      handleRemoveCheckAll() {
        let items = this.tableData;
        items.map(function(x) {
              x.checked = false;
              return x
            });
        this.tableData = items;
        this.componentKey +=1;
        this.checked_all = false;
      },

      checkboxCheckAll(check) {
        if(check) {
          this.handleCheckAll();
        }else {
          this.handleRemoveCheckAll();
        }
      },

      handleOnOffMenuClickRight(id, status) {
        let data = this.tableData;
        const newArr = data.map(obj => {
          if (obj.id === id) {
            return {...obj, showMenuClickRight: status};
          }
          else {
            return {...obj, showMenuClickRight: false};
          }
        });
        this.tableData = newArr;
     console.log(this.tableData)
        // this.$forceUpdate();
      },
      onClick() {
        this.handleOnOffMenuClickRight(0, false)
      },
    },
    mounted() {
      document.addEventListener('click', this.onClick);
    },
    beforeDestroy() {
      document.removeEventListener('click', this.onClick);
    },

};
</script>

<style>
.menu {
  position: fixed;
    z-index: 99999;
    box-shadow: 1px 3px 7px 2px rgb(128 128 128 / 33%);
    height: auto !important;
    border-radius: 5px;
    overflow: hidden;
    padding: 16px;
    background: #ffff;
}
.menu ul.el-menu-vertical-demo.el-menu {
    width: 100% !important;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  min-height: auto !important;
}
.el-form-item__content button {
    margin-top: 0;
}
.drop {
  float: right;
}
.flex {
  display: flex;
    align-items: center;
}
.el-table::before {
  display: none;
}
.btn-fixed {
    position: fixed;
    z-index: 999999;
    right: 16px;
    bottom: 35px;
    width: 46px;
    text-align: center;
}

.btn-fixed button {
    margin: 0 !important;
    margin-top: 10px !important;
}
</style>
