<template>
  <el-form label-position="top" class="form-custom">
    <!-- Xác định giá trị -->
    <el-row :gutter="24">
        <el-col :span="24" class="mb-4">
          <el-card shadow="always">
            <div slot="header" class="clearfix">
              <span>TRƯỜNG DỮ LIỆU</span>
            </div>
            <el-form-item label="Trường dữ liệu">
                  <el-input placeholder="Vui lòng nhập" v-model="input1"></el-input>
            </el-form-item>
          </el-card>
        </el-col>
        <el-col :span="24" class="mb-4">
          <el-card shadow="always">
            <div slot="header" class="clearfix">
              <span>XÁC ĐỊNH GIA TRỊ</span>
            </div>
            <!-- Gán giá trị 1 trường trên file -->
            <el-row :gutter="24" v-for="(data, keyMain) in value_confirmation.dataPush" :key="keyMain">
              <el-col :span="8">
                <el-form-item label="Kiểu">
                  <el-dropdown type="button" @command="(e) => handleCommandValueConfirmation(e, keyMain)">
                    <el-button class="width-100">
                      {{value_confirmation.type[data.type]}} <i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item v-for="(type, key) in value_confirmation.type" :command="key" :kye="key">{{type}}</el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                </el-form-item>
              </el-col>
        
              <el-col :span="16" v-if="data.type == 'one_field'">
                <el-form-item label="Tên trường trên file">
                  <el-input placeholder="Vui lòng nhập"  v-model="data.value"></el-input>
                </el-form-item>
              </el-col>
            
              <el-col :span="16" v-if="data.type == 'many_fields'">
                <el-form-item v-for="(inputData, i) in data.data_many_fields" label="Tên trường trên file" :key="i">
                  <el-input placeholder="Vui lòng nhập" v-model="inputData.value"></el-input>
                </el-form-item>
                <div class="text-center"><el-button @click="handleCilckAddManyField(keyMain)" icon="el-icon-circle-plus" circle></el-button></div>
              </el-col>
                
              <el-col :span="16" v-if="data.type == 'conditional'">
                <el-row :gutter="24" v-for="(inputData, i) in data.data_conditional" :key="i">
                  <el-col :span="8">
                    <el-form-item label="Kiểu so sánh">
                      <el-dropdown type="button"  @command="(e) => handleCommandComparison(e, keyMain, i)">
                        <el-button class="width-100">
                          {{value_confirmation.comparison_type[inputData.comparison_type]}}<i class="el-icon-arrow-down el-icon--right"></i>
                        </el-button>
                        <el-dropdown-menu slot="dropdown">
                          <el-dropdown-item v-for="(type, key) in value_confirmation.comparison_type" :command="key" :kye="key">{{type}}</el-dropdown-item>
                        </el-dropdown-menu>
                      </el-dropdown>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8">
                    <el-form-item label="Giá trị so sánh">
                      <el-input placeholder="Vui lòng nhập" v-model="inputData.comparison_value"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8">
                    <el-form-item label="Giá trị trường">
                      <el-input placeholder="Vui lòng nhập" v-model="inputData.value"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <div class="text-center"><el-button @click="handleCilckConditional(keyMain)" icon="el-icon-circle-plus" circle></el-button></div>
              </el-col>
            </el-row>
          </el-card>
        </el-col>
    </el-row>
    <!-- Hết xác định giá trị -->
    <!-- XỬ LÝ DỮ LIỆU -->
    <el-row :gutter="24">
        <el-col :span="24" class="mb-4">
          <el-card shadow="always">
            <div slot="header" class="clearfix">
              <span>XỬ LÝ DỮ LIỆU</span>
            </div>
            <el-row :gutter="24"  v-for="(data, keyMain) in data_processing.dataPush" :key="keyMain">
              <el-col :span="8">
                <el-form-item class="border-none" label="Kiểu xử lý">
                  <el-dropdown type="button" @command="(e) => handleCommandProcessing(e, keyMain)">
                    <el-button class="width-100">
                      {{data_processing.type[data.type]}}<i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item v-for="(type, key) in data_processing.type" :command="key" :kye="key">{{type}}</el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                </el-form-item>
              </el-col>
              <el-col :span="16">
                
                <el-row :gutter="24" v-if="data.type =='replace_string'">
                  <el-col :span="12">
                    <el-form-item label="Giá trị cần thay thế">
                      <el-input placeholder="+84" v-model="data.value"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="Giá trị thay thế">
                      <el-input placeholder="0" v-model="data.value_new"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row :gutter="24" v-if="data.type =='capitalize_first_letter'">
                  <el-col :span="12">
                    <el-form-item label="Chữ cần viết hoa">
                      <el-input placeholder="Vui lòng nhập" v-model="data.value"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="Chữ viết hoa">
                      <el-input placeholder="Vui lòng nhập" v-model="data.value_new"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row :gutter="24" v-if="data.type =='remove_leading_and_trailing_whitespace'">
                  <el-col :span="12">
                    <el-form-item label="Giá trị cũ">
                      <el-input placeholder="Vui lòng nhập" v-model="data.value"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="Giá trị mới">
                      <el-input placeholder="Vui lòng nhập" v-model="data.value_new"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row :gutter="24" v-if="data.type =='add_string'">
                  <el-col :span="12">
                    <el-form-item label="Giá trị cần thêm">
                      <el-input placeholder="Nhập giá trị" v-model="data.value"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="Vị trí cần thêm">
                      <el-input placeholder="Nhập vị trí" v-model="data.value_new"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                
              </el-col>
            </el-row>
            <div class="text-center"><el-button icon="el-icon-circle-plus" circle  @click="handleCilckAddDataProcessing()"></el-button></div>
          </el-card>
        </el-col>
    </el-row>
    <!-- XỬ LÝ DỮ LIỆU -->
    <el-button size="medium" class="create-all">Thêm trường</el-button>
  </el-form>
</template>
<script>
export default {
  data() {
    return {
      one_field_template: {
        type: "one_field",
        value: ""
      },
      many_fields_template: {
        type: "many_fields",
        data_many_fields: [
          {value: ""},
        ]
      },
      conditional_template: {
        type: "conditional",
        data_conditional: [
          {
            value: "",
            comparison_type: "gt",
            comparison_value: ""
          },
        ]
      },
      replace_string_teamplate:  {
              type: "replace_string",
              value: "",
              value_new: ""
      },
      capitalize_first_letter_teamplate:  {
              type: "capitalize_first_letter",
              value: "",
              value_new: ""
      },
      remove_leading_and_trailing_whitespace_teamplate:  {
              type: "remove_leading_and_trailing_whitespace",
              value: "",
              value_new: ""
      },
      add_string_teamplate:  {
              type: "add_string",
              value: "",
              value_new: ""
      },
      value_confirmation: {
          type: {
              one_field: "1 trường dữ liệu",
              many_fields: "Nhiều trường dữ liệu",
              conditional: "Có điều kiện"
          },
          comparison_type: {
              gt: "Lớn hơn (>)",
              lt: "Nhỏ hơn (<)"
          },
          dataPush: [
            {
              type: "one_field",
              value: ""
            },
            
            {
              type: "many_fields",
              data_many_fields: [
                {value: ""},
              ]
            },
            {
              type: "conditional",
              data_conditional: [
                {
                  value: "",
                  comparison_type: "gt",
                  comparison_value: ""
                },
              ]
            },
            
          ]
      },
      data_processing: {
          type: {
              replace_string: "Thay thế chuỗi",
              capitalize_first_letter: "Viết hoa chũ đầu",
              remove_leading_and_trailing_whitespace: "Xóa khoảng trắng đầu và cuối",
              add_string: "Thêm chuỗi"
            },
          dataPush: []
      }
    }
  },
  methods: {

    //dropdown thay đổi kiểu dữ liệu eg: 1, nhiều, so sánh . . .
    handleCommandValueConfirmation(e, key) {
     switch (e) {
      case "many_fields":
        this.value_confirmation.dataPush[key] = this.many_fields_template;
        break;
      case "conditional":
        this.value_confirmation.dataPush[key] = this.conditional_template;
        break;
      case "one_field":
      this.value_confirmation.dataPush[key] = this.one_field_template;
    }
     this.$forceUpdate();
    },

    // dropdown thay đổi kiểu so sánh
    handleCommandComparison(e, keyMain, key) {
      switch (e) {
      case "gt":
        this.value_confirmation.dataPush[keyMain].data_conditional[key] =  
        {
          value: "",
          comparison_type: "gt",
          comparison_value: ""
        };
        break;
      case "lt":
      this.value_confirmation.dataPush[keyMain].data_conditional[key] =  
        {
          value: "",
          comparison_type: "lt",
          comparison_value: ""
        };
    }
     this.$forceUpdate();
    },

    // thêm mới 1 input trường dữ liệu 
    handleCilckAddManyField(keyMain) {
      const array = this.value_confirmation.dataPush[keyMain].data_many_fields;
      array.push({value: ""});
      this.value_confirmation.dataPush[keyMain].data_many_fields = array;
    },

    // thêm mới 1 kiểu so sánh
    handleCilckConditional(keyMain) {
      const array = this.value_confirmation.dataPush[keyMain].data_conditional;
      array.push(
        {
            value: "",
            comparison_type: "gt",
            comparison_value: ""
        },
      );
      this.value_confirmation.dataPush[keyMain].data_conditional = array;
    },

    // dropdown thay đổi kiểu xử lý dữ liệu 
    handleCommandProcessing(e, key) {
      switch (e) {
      case "replace_string":
        this.data_processing.dataPush[key] = this.replace_string_teamplate;
        break;
      case "capitalize_first_letter":
        this.data_processing.dataPush[key] = this.capitalize_first_letter_teamplate;
        break;
      case "remove_leading_and_trailing_whitespace":
        this.data_processing.dataPush[key] = this.remove_leading_and_trailing_whitespace_teamplate;
        break;
      case "add_string":
        this.data_processing.dataPush[key] = this.add_string_teamplate;
    }
     this.$forceUpdate();
    },

    // thêm 1 row xử lý dữ liệu
    handleCilckAddDataProcessing() {
       const array = this.data_processing.dataPush;
       array.push(
          {
            type: "replace_string",
            value: "",
            value_new: ""
          },
       );
       this.data_processing.dataPush = array;
    }
  }
}
</script>

<style>
.form-custom .mb-4 {
  margin-bottom: 20px;
}
.form-custom .el-dropdown {
    display: inline-block;
    position: relative;
    font-size: 14px;
    padding: 0 32px;
    cursor: pointer;
}
.form-custom .el-form-item {
    margin-bottom: 10px;
}
.form-custom label.el-form-item__label {
    padding-bottom: 0 !important;
}
.text-center {
  text-align: center;
}
.form-custom .el-form-item__content {
    overflow: hidden;
    border: 1px solid #80808078;
    border-radius: 5px;
}
.form-custom .el-dropdown {
    width: 100%;
    padding: 0;
}
.width-100 {
  width: 100%;
}
.border-none button {
    margin-bottom: 16px;
    border: 1px solid #80808078 !important;
}
.border-none .el-form-item__content {
  border: none;
}
.form-custom .el-input__inner {
    border: none;
}
.form-custom button.el-button {
    border: none;
}
.form-custom button.el-button.el-button--default.is-circle {
    border: 1px solid #DCDFE6;
}
.create-all {
    border: 1px solid #DCDFE6 !important;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    text-transform: uppercase;
}
</style>
