<template>
  <el-form label-position="top" class="form-custom">
    <div class="data_fields" v-for="(data_field, key_field) in data_fields" :key="key_field">
      <el-col :span="22" class="bg-template">
      <!-- Xác định giá trị -->
      <el-row :gutter="24">
          <el-col :span="24" class="mb-4">
            <el-card shadow="always">
              <div slot="header" class="clearfix">
                <span>TRƯỜNG DỮ LIỆU</span>
                <el-button type="danger" icon="el-icon-delete" class="delete-card" circle @click="handleDeleteDataFile(key_field)"></el-button>
              </div>
              <el-form-item label="Trường dữ liệu">
                    <el-input placeholder="Vui lòng nhập" v-model="data_field.name_field"></el-input>
              </el-form-item>
            </el-card>
          </el-col>
          <el-col :span="24" class="mb-4">
            <el-card shadow="always">
              <div slot="header" class="clearfix">
                <span>XÁC ĐỊNH GIA TRỊ</span>
              </div>
              <!-- Gán giá trị 1 trường trên file -->
              <el-row :gutter="24" v-for="(data, key_data_push) in data_field.value_confirmation.dataPush" :key="key_data_push">
                <el-col :span="8">
                  <el-form-item label="Kiểu">
                    <el-dropdown type="button" @command="(e) => handleCommandValueConfirmation(e, key_field, key_data_push)">
                      <el-button class="width-100">
                        {{data_field.value_confirmation.type[data.type]}} <i class="el-icon-arrow-down el-icon--right"></i>
                      </el-button>
                      <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item v-for="(type, key) in data_field.value_confirmation.type" :command="key" :kye="key">{{type}}</el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                  </el-form-item>
                </el-col>
          
                <el-col :span="16" v-if="data.type == 'one_field'">
                  <el-form-item label="Tên trường trên file">
                    <el-input placeholder="Vui lòng nhập"  v-model="data.value"></el-input>
                  </el-form-item>
                </el-col>
              
                <el-col :span="16" v-if="data.type == 'many_fields'">
                  <el-form-item v-for="(inputData, i) in data.data_many_fields" label="Tên trường trên file" :key="i">
                    <el-input placeholder="Vui lòng nhập" v-model="inputData.value"></el-input>
                    <el-button class="delete" type="danger" icon="el-icon-delete" circle @click="handleDeleteManyField(key_field, key_data_push, i)"></el-button>
                  </el-form-item>
                  <div class="text-center"><el-button @click="handleCilckAddManyField(key_field, key_data_push)" icon="el-icon-circle-plus" circle></el-button></div>
                </el-col>
                  
                <el-col :span="16" v-if="data.type == 'conditional'">
                  <el-row :gutter="24" v-for="(inputData, i) in data.data_conditional" :key="i">
                    <el-col :span="8">
                      <el-form-item label="Kiểu so sánh">
                        <el-dropdown type="button"  @command="(e) => handleCommandComparison(e, key_field, key_data_push, i)">
                          <el-button class="width-100">
                            {{data_field.value_confirmation.comparison_type[inputData.comparison_type]}}<i class="el-icon-arrow-down el-icon--right"></i>
                          </el-button>
                          <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item v-for="(type, key) in data_field.value_confirmation.comparison_type" :command="key" :kye="key">{{type}}</el-dropdown-item>
                          </el-dropdown-menu>
                        </el-dropdown>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="Giá trị so sánh">
                        <el-input placeholder="Vui lòng nhập" v-model="inputData.comparison_value"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="Giá trị trường">
                        <el-input placeholder="Vui lòng nhập" v-model="inputData.value"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-button class="delete" type="danger" icon="el-icon-delete" circle @click="handleDeleteCommandComparison(key_field, key_data_push, i)"></el-button>
                  </el-row>
                  <div class="text-center"><el-button @click="handleCilckConditional(key_field, key_data_push)" icon="el-icon-circle-plus" circle></el-button></div>
                </el-col>
              </el-row>
            </el-card>
          </el-col>
      </el-row>
      <!-- Hết xác định giá trị -->
      <!-- XỬ LÝ DỮ LIỆU -->
      <el-row :gutter="24">
          <el-col :span="24" class="mb-4">
            <el-card shadow="always">
              <div slot="header" class="clearfix">
                <span>XỬ LÝ DỮ LIỆU</span>
              </div>
              <el-row :gutter="24"  v-for="(data, key_data_push) in data_field.data_processing.dataPush" :key="key_data_push">
                <el-col :span="8">
                  <el-form-item class="border-none" label="Kiểu xử lý">
                    <el-dropdown type="button" @command="(e) => handleCommandProcessing(e, key_field, key_data_push)">
                      <el-button class="width-100">
                        {{data_field.data_processing.type[data.type]}}<i class="el-icon-arrow-down el-icon--right"></i>
                      </el-button>
                      <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item v-for="(type, key) in data_field.data_processing.type" :command="key" :kye="key">{{type}}</el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                  </el-form-item>
                </el-col>
                <el-col :span="16">
                  
                  <el-row :gutter="24" v-if="data.type =='replace_string'">
                    <el-col :span="12">
                      <el-form-item label="Giá trị cần thay thế">
                        <el-input placeholder="+84" v-model="data.value"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="Giá trị thay thế">
                        <el-input placeholder="0" v-model="data.value_new"></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>

                  <el-row :gutter="24" v-if="data.type =='capitalize_first_letter'">
                    <el-col :span="12">
                      <el-form-item label="Chữ cần viết hoa">
                        <el-input placeholder="Vui lòng nhập" v-model="data.value"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="Chữ viết hoa">
                        <el-input placeholder="Vui lòng nhập" v-model="data.value_new"></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>

                  <el-row :gutter="24" v-if="data.type =='remove_leading_and_trailing_whitespace'">
                    <el-col :span="12">
                      <el-form-item label="Giá trị cũ">
                        <el-input placeholder="Vui lòng nhập" v-model="data.value"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="Giá trị mới">
                        <el-input placeholder="Vui lòng nhập" v-model="data.value_new"></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>

                  <el-row :gutter="24" v-if="data.type =='add_string'">
                    <el-col :span="12">
                      <el-form-item label="Giá trị cần thêm">
                        <el-input placeholder="Nhập giá trị" v-model="data.value"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="Vị trí cần thêm">
                        <el-input placeholder="Nhập vị trí" v-model="data.value_new"></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-button class="delete" type="danger" icon="el-icon-delete" circle @click="handleDeleteDataProcessing(key_field, key_data_push)"></el-button>
                </el-col>
              </el-row>
              <div class="text-center"><el-button icon="el-icon-circle-plus" circle  @click="handleCilckAddDataProcessing(key_field)"></el-button></div>
            </el-card>
          </el-col>
      </el-row>
      <!-- XỬ LÝ DỮ LIỆU -->
      </el-col>
  </div>
    <el-col :span="22">
      <el-button size="medium" class="create-all" @click="addDataField">Thêm trường</el-button>
    </el-col>
  </el-form>
</template>
<script>
export default {
  data() {
    return {
      one_field_template: {
        type: "one_field",
        value: ""
      },
      many_fields_template: {
        type: "many_fields",
        data_many_fields: [
          {value: ""},
        ]
      },
      conditional_template: {
        type: "conditional",
        data_conditional: [
          {
            value: "",
            comparison_type: "gt",
            comparison_value: ""
          },
        ]
      },
      replace_string_teamplate:  {
              type: "replace_string",
              value: "",
              value_new: ""
      },
      capitalize_first_letter_teamplate: {
              type: "capitalize_first_letter",
              value: "",
              value_new: ""
      },
      remove_leading_and_trailing_whitespace_teamplate: {
              type: "remove_leading_and_trailing_whitespace",
              value: "",
              value_new: ""
      },
      add_string_teamplate: {
              type: "add_string",
              value: "",
              value_new: ""
      },

      data_field_teamplate: {
        name_field: "",
        value_confirmation: {
          type: {
              one_field: "1 trường dữ liệu",
              many_fields: "Nhiều trường dữ liệu",
              conditional: "Có điều kiện"
          },
          comparison_type: {
              gt: "Lớn hơn (>)",
              lt: "Nhỏ hơn (<)"
          },
          dataPush: [
            {
              type: "one_field",
              value: ""
            } 
          ]
        },
        
        data_processing: {
          type: {
              replace_string: "Thay thế chuỗi",
              capitalize_first_letter: "Viết hoa chũ đầu",
              remove_leading_and_trailing_whitespace: "Xóa khoảng trắng đầu và cuối",
              add_string: "Thêm chuỗi"
            },
          dataPush: []
        }
      },

      data_fields: [
        {
          name_field: "",
          value_confirmation: {
            type: {
                one_field: "1 trường dữ liệu",
                many_fields: "Nhiều trường dữ liệu",
                conditional: "Có điều kiện"
            },
            comparison_type: {
                gt: "Lớn hơn (>)",
                lt: "Nhỏ hơn (<)"
            },
            dataPush: [
              {
                type: "one_field",
                value: ""
              } 
            ]
          },
          data_processing: {
            type: {
                replace_string: "Thay thế chuỗi",
                capitalize_first_letter: "Viết hoa chũ đầu",
                remove_leading_and_trailing_whitespace: "Xóa khoảng trắng đầu và cuối",
                add_string: "Thêm chuỗi"
              },
            dataPush: []
          }
        }
      ]
    }
  },
  methods: {

    //dropdown thay đổi kiểu dữ liệu eg: 1, nhiều, so sánh . . .
    handleCommandValueConfirmation(e, key_field, key_data_push) {
     switch (e) {
      case "many_fields":
        this.data_fields[key_field].value_confirmation.dataPush[key_data_push] = this.many_fields_template;
        break;
      case "conditional":
      this.data_fields[key_field].value_confirmation.dataPush[key_data_push] = this.conditional_template;
        break;
      case "one_field":
      this.data_fields[key_field].value_confirmation.dataPush[key_data_push] = this.one_field_template;
    }
     this.$forceUpdate();
    },

    // dropdown thay đổi kiểu so sánh
    handleCommandComparison(e, key_field, key_data_push, key) {
      switch (e) {
        case "gt":
          this.data_fields[key_field].value_confirmation.dataPush[key_data_push].data_conditional[key].comparison_type = "gt"
          break;
        case "lt":
        this.data_fields[key_field].value_confirmation.dataPush[key_data_push].data_conditional[key].comparison_type =  "lt"
      }
      this.$forceUpdate();
    },

    // thêm mới 1 input trường dữ liệu 
    handleCilckAddManyField(key_field, key_data_push) {
      const array = this.data_fields[key_field].value_confirmation.dataPush[key_data_push].data_many_fields;
      array.push({value: ""});
      this.data_fields[key_field].value_confirmation.dataPush[key_data_push].data_many_fields = array;
    },

    // thêm mới 1 kiểu so sánh
    handleCilckConditional(key_field, key_data_push) {
      const array = this.data_fields[key_field].value_confirmation.dataPush[key_data_push].data_conditional;
      array.push(
        {
            value: "",
            comparison_type: "gt",
            comparison_value: ""
        },
      );
      this.data_fields[key_field].value_confirmation.dataPush[key_data_push].data_conditional = array;
    },

    // dropdown thay đổi kiểu xử lý dữ liệu 
    handleCommandProcessing(e, key_field, key_push) {
      switch (e) {
      case "replace_string":
        this.data_fields[key_field].data_processing.dataPush[key_push] = this.replace_string_teamplate;
        break;
      case "capitalize_first_letter":
        this.data_fields[key_field].data_processing.dataPush[key_push] = this.capitalize_first_letter_teamplate;
        break;
      case "remove_leading_and_trailing_whitespace":
        this.data_fields[key_field].data_processing.dataPush[key_push] = this.remove_leading_and_trailing_whitespace_teamplate;
        break;
      case "add_string":
        this.data_fields[key_field].data_processing.dataPush[key_push] = this.add_string_teamplate;
    }
     this.$forceUpdate();
    },

    // thêm 1 row xử lý dữ liệu
    handleCilckAddDataProcessing(key_field) {
       const array = this.data_fields[key_field].data_processing.dataPush;
       array.push(
          {
            type: "replace_string",
            value: "",
            value_new: ""
          },
       );
       this.data_fields[key_field].data_processing.dataPush = array;
    },

    //addDataField
    addDataField() {
      const array = this.data_fields;
      array.push(
        {
          name_field: "",
          value_confirmation: {
            type: {
                one_field: "1 trường dữ liệu",
                many_fields: "Nhiều trường dữ liệu",
                conditional: "Có điều kiện"
            },
            comparison_type: {
                gt: "Lớn hơn (>)",
                lt: "Nhỏ hơn (<)"
            },
            dataPush: [
              {
                type: "one_field",
                value: ""
              } 
            ]
          },
          
          data_processing: {
            type: {
                replace_string: "Thay thế chuỗi",
                capitalize_first_letter: "Viết hoa chũ đầu",
                remove_leading_and_trailing_whitespace: "Xóa khoảng trắng đầu và cuối",
                add_string: "Thêm chuỗi"
              },
            dataPush: []
          }
        }
      );
      this.data_fields = array;
    },

    //xoa 1 truong kieu nhieu
    handleDeleteManyField(key_field, key_data_push, key) {
      const data = this.data_fields[key_field].value_confirmation.dataPush[key_data_push].data_many_fields;
      data.splice(key, 1);
      this.data_fields[key_field].value_confirmation.dataPush[key_data_push].data_many_fields = data;
    },
    
    // xoa 1 truong kieu so sanh
    handleDeleteCommandComparison(key_field, key_data_push, key) {
      const data = this.data_fields[key_field].value_confirmation.dataPush[key_data_push].data_conditional;
      data.splice(key, 1);
      this.data_fields[key_field].value_confirmation.dataPush[key_data_push].data_conditional = data;
    },

    // xoa 1 truong xu ly du lieu
    handleDeleteDataProcessing(key_field, key_data_push) {
      const data = this.data_fields[key_field].data_processing.dataPush;
      data.splice(key_data_push, 1);
      this.data_fields[key_field].data_processing.dataPush = data;
    },

    // xoa 1 card 
    handleDeleteDataFile(key_field) {
      const data = this.data_fields;
      data.splice(key_field, 1);
      this.data_fields = data;
    }
  }
}
</script>

<style scope>
.bg-template {
    border: 1px solid #8080804a;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 16px;
}

.form-custom .mb-4 {
  margin-bottom: 20px;
}
.form-custom .el-dropdown {
    display: inline-block;
    position: relative;
    font-size: 14px;
    padding: 0 32px;
    cursor: pointer;
}
.form-custom .el-form-item {
    margin-bottom: 10px;
}
.form-custom label.el-form-item__label {
    padding-bottom: 0 !important;
}
.text-center {
  text-align: center;
}
.form-custom .el-form-item__content {
    overflow: hidden;
    border: 1px solid #80808078;
    border-radius: 5px;
}
.form-custom .el-dropdown {
    width: 100%;
    padding: 0;
}
.width-100 {
  width: 100%;
}
.border-none button {
    margin-bottom: 16px;
    border: 1px solid #80808078 !important;
}
.border-none .el-form-item__content {
  border: none;
}
.form-custom .el-input__inner {
    border: none;
}
.form-custom button.el-button {
    border: none;
}
.form-custom button.el-button.el-button--default.is-circle {
    border: 1px solid #DCDFE6;
}
.create-all {
    border: 1px solid #DCDFE6 !important;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    text-transform: uppercase;
}
.delete {
  position: absolute;
    right: 0px;
    top: 1px;
    background: no-repeat;
    color: #e31e0a;
}

.delete-card {
  float: right;
  transform: translateY(-11px);
  background: no-repeat;
  color: #e31e0a;
}
</style>
